{{ define "header" }}
  {{ partial "navbar" }}
{{ end }}

{{ define "main" }}
  <main id="main-content">
    <header class="site-section-header">
      <h1>{{ .Title }}</h1>
      <p>{{ .Description }}</p>
    </header>

    <div class="tournament-hosts padded-content centered">
      {{ range slice
        (dict
          "name" "Rivals Academy"
          "links" $.Site.Data.links.roaa
          "brackets" ($.Param "roaa"))
        (dict
          "name" "Rivals Recess"
          "links" $.Site.Data.links.rrc
          "brackets" ($.Param "rrc"))
      }}
        <section>
          {{ $.RenderString (print "## " .name " Brackets") }}
          <ul class="brackets-list">
            {{ range .brackets }}
              <li>
                <h3><a href="{{ .link }}" target="_blank" rel="noopener noreferrer">
                  {{ .name }}{{ partial "svg/goto.svg" }}
                </a></h3>
                <p class="day-time-freq">
                  {{ .day }} @ {{ .time }}
                  {{ with .freq }}({{ . }}){{ end }}
                </p>
                <p class="bracket-desc">{{ $.RenderString .description }}</p>
              </li>
            {{ end }}
          </ul>
        </section>
      {{- end }}
    </div>
  </main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" }}
{{ end }}