:root {
  --clr-text: #202022;
  --clr-text-hc: black;
  --clr-bg: white;
  --clr-highlight: #ebebf0;
  --clr-gray-1: #a2a2b1;
  --clr-gray-2: #909099;

  --clr-darken-img: #303033;
  --clr-text-on-img: #ededf2;

  --clr-discord: #5865f2;
  --clr-discord-hc: #4b53cc;
  --clr-twitter: #1d9bf0;
  --clr-twitch: #8c45f7;
  --clr-youtube: #fd0000;

  --nav-height: 4.5rem;
  --page-padding: 1.5rem;
  --content-max-width: 56rem;
}
@media only screen and (max-width:48rem) {
  :root {
    --page-padding: 1rem;
  }
}
@media only screen and (min-width:64rem) {
  :root {
    --page-padding: 2rem;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 16px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

main {
  min-height: calc(100vh - var(--nav-height));
  min-height: calc(100dvh - var(--nav-height));
  overflow: hidden;
}

footer {
  margin-top: 2rem;
}

footer a {
  color: currentColor;
}

footer svg {
  fill: currentColor;
}

article {
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h2 {
  border-bottom: 1px solid var(--clr-highlight);
}

h3 {
  margin-bottom: 0.3rem;
}

:not(:active):focus-visible {
  outline-offset: .125rem;
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset .5s ease-out !important;
  }

  :not(:active):focus-visible {
    transition-duration: .25s !important;
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}/*https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html*/

.center {
  display: flex;
  justify-content: center;
}

.centered {
  margin: auto;
}

.padded-content {
  padding: 0 var(--page-padding);
  max-width: calc(var(--content-max-width) + 2*var(--page-padding));
}

.heading-link {
  border: none;
  background: none;
  font-size: inherit;
  padding: 1px 0;
  margin: 0 .2em;
}

.heading-link:active {
  transform: scale(0.9);
}

@media (prefers-reduced-motion: no-preference) {
  .heading-link:active {
    transition: transform .1s ease-out;
  }
}

.heading-link svg {
  display: none;
  height: .875em;
  padding: 0 .125rem;
  fill: var(--clr-gray-1);
}

.heading:hover .heading-link svg,
.heading-link:focus-visible svg {
  display: flex;
}

.heading-link:hover svg {
  fill: currentColor;
}

.heading-link ~ .copied {
  display: none;
  position: absolute;
  white-space: nowrap;
  border-radius: .325em;
  padding: .15em .4em;
  margin-left: .25em;
  font-size: .75em;
  font-weight: normal;
  color: var(--clr-bg);
  background-color: var(--clr-text);
}

.heading-link ~ .copied:before {
  content: '';
  position: absolute;
  width: .5em;
  height: .5em;
  transform: rotate(45deg);
  z-index: -1;
  right: 95%;
  bottom: 35%;
  background-color: var(--clr-text);
}

.data-copy-success svg {
  display: flex !important;
}

.data-copy-success .copied {
  display: inline-block;
}

.skip-nav {
  position: absolute;
  z-index: 2;
  transform: translateY(-150%);
  opacity: 0;
  color: var(--clr-text);
  background: var(--clr-highlight);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  margin: 1rem
}

.skip-nav:focus-visible {
  transform: translateY(0);
  opacity: 100;
}

@media (prefers-reduced-motion: no-preference) {
  .skip-nav:focus-visible {
    transition: transform .1s ease-in;
  }
}

.navbar {
  height: var(--nav-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-bg);
}

.navbar svg {
  width: 1.5em;
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-left: var(--page-padding);
}

.hamb-btn {
  display: none;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: var(--page-padding);
}

.nav-list li {
  margin-left: clamp(1rem, 2vw, 1.5rem);
}

.nav-list li:hover {
  color: var(--clr-text-hc);
  transform: scale(1.025);
}

.nav-list li:active {
  transform: scale(0.95);
}

@media (prefers-reduced-motion: no-preference) {
  .nav-list li:hover {
    transition: .1s ease-in-out;
  }

  .nav-list li:active {
    transition: .05s;
  }
}

.nav-list li a {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: currentColor;
}

.nav-discord svg {
  display: none;
  fill: var(--clr-discord);
}

.nav-discord svg:hover {
  fill: var(--clr-discord-hc);
}

.nav-discord span {
  color: var(--clr-discord);
}

@media only screen and (min-width:calc(48rem + 1px)) {
  .nav-discord span {
    padding: .15em .5em;
    border-radius: .15em;
    background-color: var(--clr-discord);
    color: var(--clr-bg);
  }

  .nav-discord:hover:not(:active) span {
    background-color: var(--clr-discord-hc);
  }

  .nav-list li:last-child:hover:not(:active) {
    transform: scale(1);
  }
}

@media only screen and (min-width:calc(40rem + 1px)) and (max-width:48rem) {
  .nav-discord svg {
    display: flex;
  }
  .nav-discord span {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
  } /* .sr-only */
}

@media only screen and (max-width:40rem) {
  .navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  html {
    scroll-padding-top: var(--nav-height);
  }

  .data-disable-scroll-mobile {
    height: 100%;
    overflow: hidden;
  }

  .hamb-btn {
    display: block;
    cursor: pointer;
    padding: 1rem .125rem;
    margin-right: var(--page-padding);
    background: transparent;
    border: none;
  }
  
  .hamb-line {
    display: block;
    position: relative;
    background: currentColor;
    height: .2rem;
    width: 1.8rem;
  }
  
  .hamb-line::before,
  .hamb-line::after {
    display: block;
    position: absolute;
    content: '';
    background: currentColor;
    height: 100%;
    width: 100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    .hamb-line::before,
    .hamb-line::after {
      transition: all .1s ease-out;
    }
  }
  
  .hamb-line::before {
    top: .5rem;
  }
  
  .hamb-line::after {
    top: -.5rem;
  }
  
  [aria-expanded="true"] .hamb-line {
    background: transparent;
  }
  [aria-expanded="true"] .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
  }
  [aria-expanded="true"] .hamb-line::after {
    transform: rotate(45deg);
    top:0;
  }

  [aria-expanded="true"] ~ .nav-list {
    max-height: 100%;
    opacity: 100%;
  }

  [aria-expanded="true"] ~ .nav-list li a {
    display: block;
  }

  .nav-list {
    background-color: var(--clr-bg);
    display: block;
    position: fixed;
    top: var(--nav-height);
    padding-top: .25rem;
    overflow: hidden;
    width: 100vw;
    max-height: 0;
    opacity: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    .nav-list {
      transition: all .1s ease-out;
    }
  }

  .nav-list li {
    margin-left: 0;
  }

  .nav-list li a {
    display: none;
    padding: 1rem var(--page-padding);
  }

  .nav-list li:hover {
    transform: scale(1);
  }

  .nav-list li a:hover,
  .nav-list li a:focus-visible {
    background-color: var(--clr-highlight);
  }
}

.footer-main-container {
  padding: 2rem var(--page-padding);
  background-color: var(--clr-darken-img);
  background-image: url("img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 8% top;
  background-blend-mode: multiply;
}

.footer-main-container img:active {
  transform: scale(.95);
}

@media (prefers-reduced-motion: no-preference) {
  .footer-main-container img {
    transition: transform .1s ease-out;
  }
}

.footer-main-container > a {
  display: none;
}

@media only screen and (min-width:64rem) {
  .footer-main-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer-main-container > a {
    display: revert;
  }

  .footer-main-container > a img {
    max-height: 13.5rem;
    border-radius: 1.25rem;
  }
}

.footer-main {
  display: grid;
  gap: 1rem;
  color: var(--clr-text-on-img);
}

.footer-main a:hover {
  color: white;
}

.footer-main ul {
  list-style: none;
  padding: 0;
}

@media only screen and (min-width: 72rem) {
  .footer-main {
    border-right: .125rem solid var(--clr-text-on-img);
  }
}

.footer-hero {
  display: flex;
  gap: 1rem;
}

.footer-hero img {
  max-height: 12rem;
  border-radius: 1rem;
}

.footer-hero p:not(.footer-title) {
  margin-bottom: calc(1rem + .625rem);
}

@media only screen and (min-width:46rem) {
  .footer-main {
    grid-template-columns: 1fr 1fr;
  }

  .footer-hero {
    gap: 0;
    padding-right: 1rem;
  }

  .footer-hero > a {
    display: none;
  }
}

@media only screen and (max-width:33rem) {
  .footer-hero {
    gap: 0;
  }

  .footer-hero > a {
    display: none;
  }
}

.footer-socials {
  display: flex;
  gap: .5rem;
}

.footer-socials li:active {
  transform: scale(.95);
}

@media (prefers-reduced-motion: no-preference) {
  .footer-socials {
    transition: transform .1s ease-out;
  }
}

.footer-socials li a svg {
  display: flex;
  align-items: center;
  width: 2rem;
}

.footer-socials .twitter:hover svg {
  fill: var(--clr-twitter);
}

.footer-socials .twitch:hover svg {
  fill: var(--clr-twitch);
}

.footer-socials .youtube:hover svg {
  fill: var(--clr-youtube);
}

.footer-socials .join-discord {
  padding: .625rem 1rem;
  margin: 1rem 0;
  border-radius: .5rem;
  font-weight: 500;
  color: white;
  background-color: var(--clr-discord);
}

.footer-socials .join-discord:hover:not(:active) {
  background-color: var(--clr-discord-hc);
}

.footer-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--page-padding);
  margin-right: var(--page-padding);
}

.footer-title {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem var(--page-padding);
  background-color: var(--clr-text);
  color: var(--clr-highlight);
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright svg {
  height: 1rem;
  margin-right: .325rem;
}

.site-section-header {
  text-align: center;
  padding: 1rem var(--page-padding);
  background-color: var(--clr-highlight);
}

.site-section-header h1 {
  margin: 1rem 0;
}

.cols-sidebar-content {
  display: grid;
  grid-template-columns: calc(var(--page-padding) + 10.5rem) auto;
}

.sidebar {
  margin-left: var(--page-padding);
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.char-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding-left: 0;
}

.char-grid li a div {
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}

#TableOfContents {
  position: sticky;
  top: 1rem;
}

#TableOfContents ul ul {
  padding-left: 1rem;
}

#TableOfContents li a {
  display: block;
  line-height: 1.625;
  color: var(--clr-gray-2);
}

#TableOfContents li a:hover {
  color: var(--clr-text-hc);
}

#TableOfContents .visible > a {
  color: var(--clr-text);
}

@media (prefers-reduced-motion: no-preference) {
  #TableOfContents .visible > a {
    transition: color .1s ease-in-out;
  }
}

.info-table {
  overflow-x: auto;
  scrollbar-width: thin;
  border: 1px solid var(--clr-gray-1);
  max-width: fit-content;
  margin-bottom: .25rem;
}

.info-table table {
  white-space: nowrap;
  text-align: center;
  border-collapse: collapse;
}

.align-left {
  text-align: left;
}

.info-table th, 
.info-table td {
  border-right: 1px solid var(--clr-gray-1);
}

.info-table th:last-child,
.info-table td:last-child {
  border-right: none;
}

.info-table th {
  padding: 0 .5rem;
  background-color: var(--clr-highlight);
}

.info-table td {
  padding: .3125rem .5rem;
  vertical-align: bottom;
  border-top: 1px solid var(--clr-gray-1);
}

.no-col-borders td, 
.no-col-borders th {
  border-right: none;
}

.sticky-col {
  text-align: left;
  border-right: 2px solid var(--clr-gray-1) !important;
}

@media only screen and (min-width:calc(40rem + 1px)) {
  .sticky-col {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    background-clip: padding-box;
    background-color: var(--clr-bg);
    border-right: none !important;
  }

  .sticky-col::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid var(--clr-gray-1);
  }
}

.notes {
  white-space: normal;
  width: 32rem;
}

.untechable-note {
  white-space: normal;
  width: 12rem;
}

.move-notes {
  margin: 0;
  padding: 0 .5rem;
  border-left: .125rem solid var(--clr-gray-1);
  font-style: italic;
}

.hitbox-image img {
  margin-top: .25rem;
  max-width: 100%;
  height: auto;
  max-height: 12.5rem;
}

.tournament-hosts {
  max-width: var(--content-max-width);
}

@media only screen and (min-width:60rem) {
  .tournament-hosts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
    max-width: calc(2*43rem + 3vw);
  }
}

.brackets-list {
  list-style: none;
  padding: 0;
}

.brackets-list li {
  border-bottom: 1px solid var(--clr-highlight);
}

.brackets-list li:last-child {
  border-bottom: 1px solid var(--clr-bg);
}

.brackets-list h3 {
  margin-bottom: .25rem;
}

.brackets-list h3 a {
  color: currentColor;
}

.brackets-list h3 a svg {
  height: .875em;
  padding: 0 .325em;
  fill: var(--clr-gray-1);
}

.bracket-desc {
  margin-top: .625rem;
}

.day-time-freq {
  margin: 0;
  font-family: monospace;
  font-weight: 500;
}
