{{ if eq .Level 1 }}
  <h1 id="{{ .Anchor | safeURL }}" class="heading">{{ .Text | safeHTML }}</h1>
{{ else }}
  <h{{ .Level }} id="{{ .Anchor | safeURL }}" class="heading">
    {{ .Text | safeHTML -}}
    <button class="heading-link"
            title="Copy link"
            aria-label="Copy link"
            aria-text="Copy link to this section: {{ .Text | safeHTML }}"
            onclick="copyHeadingLink({{ .Anchor | safeURL }})">
      {{ partial "svg/copy.svg" }}
    </button>
    <span class="copied">Copied link!</span>
  </h{{ .Level }}>
{{ end }}