<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if eq (len page.Ancestors) 0 }}
      <meta http-equiv="Refresh" content="0; url='/library'"/>
    {{ end }}
    <title>
      {{ .Page.Title }}
      {{ if and .Page.IsPage (not .Page.FirstSection.IsHome) }}
        - {{ .Page.FirstSection.Title }}
      {{ end }}
    </title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css"type="text/css">
    <script defer src="/script.js"></script>

    <link rel="canonical" href="{{ .Permalink | absURL }}" />
    <link rel="manifest" href="/manifest.json">

    {{ if .IsTranslated }}{{ range .Translations }}
      <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" 
            title="{{ .Language.LanguageName }}" type="text/html">
    {{ end }}{{ end }}

    <meta name="description" content="{{ .Description }}">
    {{ $img := "/img/default-cover.png" }}
    {{ $path := .RelPermalink }}
    {{ if .IsTranslated }}
      {{ $en := index .AllTranslations 0 }}{{ $path = $en.RelPermalink }}
    {{ end }}
    {{ if fileExists (print $path "thumb.png") }}{{ $img = (print $path "thumb.png") }}{{ end }}
    <meta name="image" content="{{ $img | absURL }}">
    <meta property="og:image" content="{{ $img | absURL }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:site_name" content="Rivals Academy">
    <meta property="og:url" content="{{ .Permalink | absURL }}" />
    {{ template "_internal/twitter_cards.html" . }}

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />`
        .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  </head>
  <body>
    {{ block "header" . }}
    <!-- navbar -->
    {{ end }}
    {{ block "main" . }}
    <!-- main -->
    {{ end }}
    {{ block "footer" . }}
    <!-- footer -->
    {{ end }}
  </body>
</html>