{{ define "header" }}
  {{ partial "navbar" }}
{{ end }}

{{ define "main" }}
  <main id="main-content">
    <header class="site-section-header">
      <h1>
        {{ if page.IsSection }}{{ page.Section | title }}
        {{ else }}{{ humanize .Title | title }}{{ end }}
      </h1>
      <p>{{ .Description }}</p>
    </header>

    <div class="centered page-list">
      {{ range .Pages }}{{ if ne .Draft true }}
        <a href="{{ .RelPermalink }}">
          <p class="headline">
            {{ .Title }}
            {{ range .Params.tags }}
              {{ if fileExists (print "static/img/icons-full/" . ".png") }}
                <img src="/img/icons-full/{{ . }}.png">
              {{ end }}
            {{ end }}
          </p>
          <p class="tagline">{{ .Description }}.</p>
          <p class="tag-list">
            {{ range .Params.tags }}
              <span href="/tags/{{ . }}" class="tag tag-{{ . }}">#{{ . }}</span>
            {{ end }}
          </p>
        </a>
      {{ end }}{{ end }}
    </div>

  </main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" }}
{{ end }}