{{ define "header" }}
  {{ partial "navbar" }}
{{ end }}

{{ define "main" }}
  <main id="main-content">
    <header class="site-section-header">
      <h1>
        {{ if page.IsSection }}{{ page.Section | title }}
        {{ else }}{{ humanize .Title | title }}{{ end }}
      </h1>
      <p>{{ .Description }}</p>
    </header>

    <div class="centered page-list">
      {{ range .Pages }}{{ if ne .Draft true }}
        <a class="article-preview" href="{{ .RelPermalink }}">
          <div>
            <p class="headline">{{ .Title }}</p>
            <p class="tagline">{{ .Description }}.</p>
            <p class="tag-list">
              {{ range .Params.tags }}
                <span href="/tags/{{ . }}" class="tag tag-{{ . }}">
                  {{ if fileExists (print "static/img/icons-full/" . ".png") }}
                    <img src="/img/icons-full/{{ . }}.png">
                    <span class="sr-only">{{ humanize . | title }}</span>
                  {{ else }}#{{ . }}{{ end }}
                </span>
              {{ end }}
            </p>
          </div>
          {{ if fileExists (print .RelPermalink "thumb.png") }}
            <img class="thumbnail" aria-hidden="true" src="{{ .RelPermalink }}thumb.png">
          {{ end }}
        </a>
      {{ end }}{{ end }}
    </div>

  </main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" }}
{{ end }}