{{ define "header" }}
  {{ partial "navbar" }}
{{ end }}

{{ define "main" }}
  <main id="main-content">
    <header class="site-section-header">
      <h1>
        {{ if page.IsSection }}{{ page.Section | title }}
        {{ else }}{{ humanize .Title | title }}{{ end }}
      </h1>
      <p>{{ .Description }}</p>
    </header>

    <div class="centered page-list">
      {{ $beginner := slice }}{{ $intermediate := slice }}{{ $advanced := slice }}
      {{ range .Pages }}
        {{ if eq (index .Params.tags 0) "beginner" }}
          {{ $beginner = $beginner | append . }}
        {{ else if eq (index .Params.tags 0) "intermediate" }}
          {{ $intermediate = $intermediate | append . }}
        {{ else if eq (index .Params.tags 0) "advanced" }}
          {{ $intermediate = $intermediate | append . }}
        {{ end }}
      {{ end }}
      {{ range slice $beginner $intermediate $advanced }}
        {{ range . }}
          {{ if eq (index .Params.tags 1) "all-characters" }}
            {{ partial "card.html" . }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ range slice $beginner $intermediate $advanced }}
        {{ range . }}
          {{ if isset .Params "tags" }}
            {{ if gt (len .Params.tags) 4 }}
              {{ partial "card.html" . }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ $chars := slice 
        "zetterburn" "orcane" "kragg" "wrastor"
        "forsburn" "etalus" "maypul" "absa"
        "clairen" "ranno" "sylvanos" "elliana"
        "ori" "shovel-knight"
        "mollo" "hodan" "olympia" "pomme"
      }}
      {{ $c := "" }} {{ $len := 0}}
      {{ range $chars }}
        {{ $c = . }}
        {{ range slice $beginner $intermediate $advanced }}
          {{ range . }}
            {{ if isset .Params "tags" }}
              {{ $len = len .Params.tags }}
              {{ if and (eq (index .Params.tags (sub $len 1)) $c) (lt $len 5) }}
                {{ partial "card.html" . }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>

  </main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" }}
{{ end }}