{{ define "header" }}
  {{ partial "navbar" }}
{{ end }}
{{ define "main" }}
<div class="center"><div class="cols-sidebar-content">
  <div class="sidebar">
    {{ if fileExists (print .RelPermalink "thumb.png") }}
      <img class="sidebar-thumbnail" aria-hidden="true" src="thumb.png">
    {{ end }}
    <div class="toc">
      {{ .TableOfContents }}
      <a href="#" class="to-top" title="Jump to Top">
        {{ partial "svg/up.svg" }}<span class="sr-only">Jump to Top</span>
      </a>
    </div>
  </div>
  <main id="main-content">
    <article class="padded-content">
      <div class="article-header">
        <h1>{{ .Title }}</h1>
        <p>
          <span class="article-description">{{ .Description }}.</span>
          <span class="tag-list nowrap">
            {{ range .Params.tags }}
              <span class="tag tag-{{ . }}">
                {{ if fileExists (print "static/img/icons-full/" . ".png") }}
                  <img src="/img/icons-full/{{ . }}.png" aria-hidden="true">
                  <span class="sr-only">{{ humanize . | title }}</span>
                {{ else }}#{{ . }}{{ end }}
              </span>
              {{/*  <a href="/tags/{{ . }}" class="tag tag-{{ . }}">#{{ . }}</a>  */}}
            {{ end }}
          </span>
        </p>
        {{ with .Params.authors }}
          <p class="article-authors">By {{ delimit . ", " " and " }}</p>
        {{ end }}
      </div>
      {{ .Content }}
    </article>
    <div class="article-footer-divider"></div>
    <section class="article-footer">
      <p>
        {{ partial "partials/svg/chat.svg" }}
        Questions?
        <a target="_blank" rel="noopener noreferrer" href="{{ site.Data.links.roaa.discord }}">
          Ask on Discord!
        </a>
      </p>
    </section>
  </main>
</div></div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" }}
{{ end }}