{{ define "header" }}
  {{ partial "navbar" }}
{{ end }}
{{ define "main" }}
<div class="center"><div class="cols-sidebar-content">
  <div class="sidebar">
    <div class="toc">
      {{ .TableOfContents }}
      <a href="#" class="to-top" title="Jump to Top">
        {{ partial "svg/up.svg" }}<span class="sr-only">Jump to Top</span>
      </a>
    </div>
  </div>
  <main id="main-content">
    <article class="padded-content">
      <div class="article-header">
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}.</p>
        {{ with .Params.authors }}
          <p class="author">By {{ delimit . ", " " and " }}</p>
        {{ end }}
      </div>
      {{ .Content }}
    </article>
    <div class="article-footer-divider"></div>
  </main>
</div></div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" }}
{{ end }}