<a class="article-preview" href="{{ .RelPermalink }}">
  <div>
    <p class="headline">{{ .Title }}</p>
    <p class="tagline">{{ .Description }}</p>
    <p class="tag-list">
      {{ range .Params.tags }}
        <span href="/tags/{{ . }}" class="tag tag-{{ . }}">
          {{ if fileExists (print "static/img/icons/" . ".png") }}
            <img src="/img/icons/{{ . }}.png" aria-hidden="true">
            <span class="sr-only">{{ humanize . | title }}</span>
          {{ else }}#{{ . }}{{ end }}
        </span>
      {{ end }}
    </p>
  </div>
  <img class="thumbnail" aria-hidden="true" src="{{ .RelPermalink }}thumb.png">
</a>