<footer>
  <div class="footer-main-container">
    <a title="Homepage" href="/">
      <span class="sr-only">Homepage</span>
      <img src="/img/icon_ranno.png" alt="Ranno wearing a graduation cap and gown.">
    </a>
    <div class="footer-main">
      <div class="footer-hero">
        <a title="Homepage" href="/">
          <span class="sr-only">Homepage</span>
          <img src="/img/icon_ranno.png" alt="Ranno wearing a graduation cap and gown.">
        </a>
        <div>
          <p class="footer-title">Rivals Academy</p>
          <p>The premier Rivals of Aether learning resource & community, since 2016.</p>
          <ul class="footer-socials">
            <li>
              <a class="join-discord"
                href="{{ site.Data.links.roaa.discord }}"
                target="_blank" rel="noopenernoreferrer">
                Join Discord →
              </a>
            </li>
            {{ range slice "twitter" "twitch" "youtube"}}
              <li>
                <a class="{{ . }}"
                   href="{{ index site.Data.links.roaa . }}"
                   target="_blank" rel="noopener noreferrer">
                  <span class="sr-only">{{ title . }}</span>
                  {{ partial (print "svg/socials/" . ".svg") }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="footer-sections">
        <div>
          <p class="footer-title">Resources</p>
          <p><a href="/library">Frame Data Library</a></p>
          <p><a href="/guides">Gameplay Guides</a></p>
          <p><a href="/tournaments">Tournaments</a></p>
          <p><a href="/library/api">For Developers</a></p>
        </div>
        <div>
          <p class="footer-title">About Us</p>
          <p><a href="/about">About Academy</a></p>
          <p><a href="/about#contributors">Contributors</a></p>
          <p><a href="/about#associates">Associates</a></p>
          <p><a href="/about#support">Support Academy</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span class="copyright">
      {{ partial "svg/copyright.svg" }}<span class="sr-only">Copyright</span>2023 Rivals Academy</span>
    <a href="{{ site.Data.links.github }}" target="_blank" rel="noopener noreferrer">
      {{ partial "svg/socials/github.svg" }}Source Code</a> 
  </div>
</footer>