<div class="article-footer-divider"></div>

<section class="library-footer">
  {{ $u := site.Data.library }}
  <p>
    Data curated by the <a target="_blank" rel="noopener noreferrer" href="{{ site.Data.links.s7g.twitter }}">Sector 7-G</a> team:
    SNC, Blair, Menace13, IGL, and Jade
    ‣<br>
    Up to date as of <a target="_blank" rel="noopener noreferrer" href="{{ $u.patchNotes }}">Patch {{ $u.patch }}</a>
  </p>
  <p>
    {{ partial "partials/svg/code.svg" }}
    For Developers:
    <br class="mobile-break">
    <a href="{{ page.Permalink }}data.json">Raw data of this page</a> |
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/blair-c/rivals.academy/blob/main/data/rivals/{{ page.File.BaseFileName }}.yaml">YAML Source</a> |
    <a href="/library/docs">API Docs</a>
  </p>
</section>