{{/*  Check if there are multiple rows  */}}
{{ $multiple := gt (len .hitboxes) 1 }}
{{ range .hitboxes }}{{ if isset . "name" }}{{ $multiple = true }}{{ end }}{{ end }}
{{/*  Initialize all possible columns to false  */}}
{{ $startup := false }}
{{ $intangible := false }}
{{ $directionLockedIn := false }}
{{ $active := false }}
{{ $smoke := false }}
{{ $iceCreated := false }}
{{ $capture := false }}
{{ $invuln := false }}
{{ $projectileInvuln := false }}
{{ $endlag := false }}
{{ $cancellable := false }}
{{ $firstActiveFrame := false }}
{{ $landingLag := false }}
{{ $lifetime := false }}
{{ $cooldown := false }}
{{ $damage := false }}
{{ $angle := false }}
{{ $angleFlipper := false }}
{{ $knockback := false }}
{{ $hitstunModifier := false }}
{{ $forceFlinch := false }}
{{ $untechable := false }}
{{ $hitpause := false }}
{{ $tipperStun := false }}
{{ $asdiModifier := false }}
{{ $hitLockout := false }}
{{ $priority := false }}
{{ $killsProjectiles := false }}
{{ $parryStun := false }}
{{ $cannotGalaxy := false }}
{{ $movesRocks := false }}
{{ $setsOnFire := false }}
{{ $consumesFire := false }}
{{ $appliesMark := false }}
{{ $wrapsMarked := false }}
{{ $wrapLockout := false }}
{{ $appliesPoison := false }}
{{ $heat := false }}
{{ $crystallizes := false }}
{{ $notes := false}}
{{/*  Iterate through rows, set existing columns to true  */}}
{{ range .hitboxes }}
  {{ if isset . "startup" }} {{ $startup = true }} {{ end }}
  {{ if isset . "intangible" }} {{ $intangible = true }} {{ end }}
  {{ if isset . "directionLockedIn" }} {{ $directionLockedIn = true }} {{ end }}
  {{ if isset . "active" }} {{ $active = true }} {{ end }}
  {{ if isset . "smoke" }} {{ $smoke = true }} {{ end }}
  {{ if isset . "iceCreated" }} {{ $iceCreated = true }} {{ end }}
  {{ if isset . "capture" }} {{ $capture = true }} {{ end }}
  {{ if isset . "invuln" }} {{ $invuln = true }} {{ end }}
  {{ if isset . "projectileInvuln" }} {{ $projectileInvuln = true }} {{ end }}
  {{ if isset . "endlag" }} {{ $endlag = true }} {{ end }}
  {{ if isset . "cancellable" }} {{ $cancellable = true }} {{ end }}
  {{ if isset . "firstActiveFrame" }} {{ $firstActiveFrame = true }} {{ end }}
  {{ if isset . "landingLag" }} {{ $landingLag = true }} {{ end }}
  {{ if isset . "lifetime" }} {{ $lifetime = true }} {{ end }}
  {{ if isset . "cooldown" }} {{ $cooldown = true }} {{ end }}
  {{ if isset . "damage" }} {{ $damage = true }} {{ end }}
  {{ if isset . "angle" }} {{ $angle = true }} {{ end }}
  {{ if isset . "angleFlipper" }} {{ $angleFlipper = true }} {{ end }}
  {{ if isset . "knockback" }} {{ $knockback = true }} {{ end }}
  {{ if isset . "hitstunModifier" }} {{ $hitstunModifier = true }} {{ end }}
  {{ if isset . "forceFlinch" }} {{ $forceFlinch = true }} {{ end }}
  {{ if isset . "untechable" }} {{ $untechable = true }} {{ end }}
  {{ if isset . "hitpause" }} {{ $hitpause = true }} {{ end }}
  {{ if isset . "tipperStun" }} {{ $tipperStun = true }} {{ end }}
  {{ if isset . "asdiModifier" }} {{ $asdiModifier = true }} {{ end }}
  {{ if isset . "hitLockout" }} {{ $hitLockout = true }} {{ end }}
  {{ if isset . "priority" }} {{ $priority = true }} {{ end }}
  {{ if isset . "killsProjectiles" }} {{ $killsProjectiles = true }} {{ end }}
  {{ if isset . "parryStun" }} {{ $parryStun = true }} {{ end }}
  {{ if isset . "cannotGalaxy" }} {{ $cannotGalaxy = true }} {{ end }}
  {{ if isset . "movesRocks" }} {{ $movesRocks = true }} {{ end }}
  {{ if isset . "setsOnFire" }} {{ $setsOnFire = true }} {{ end }}
  {{ if isset . "consumesFire" }} {{ $consumesFire = true }} {{ end }}
  {{ if isset . "appliesMark" }} {{ $appliesMark = true }} {{ end }}
  {{ if isset . "wrapsMarked" }} {{ $wrapsMarked = true }} {{ end }}
  {{ if isset . "wrapLockout" }} {{ $wrapLockout = true }} {{ end }}
  {{ if isset . "appliesPoison" }} {{ $appliesPoison = true }} {{ end }}
  {{ if isset . "heat" }} {{ $heat = true }} {{ end }}
  {{ if isset . "crystallizes" }} {{ $crystallizes = true }} {{ end }}
  {{ if isset . "notes" }} {{ $notes = true }} {{ end }}
{{ end }}
{{/*  Dummy variables  */}}
{{ $len := 0 }} {{ $iter := slice 0 }} {{ $counter := 0 }}

<div class="library-table">
  <table>
    <thead>
      <tr>
        {{ if $multiple }}<th class="sticky-col">Hitbox</th>{{ end }}
        {{ if $startup }}<th>Startup</th>{{ end }}
        {{ if $intangible }}<th>Intangible</th>{{ end }}
        {{ if $directionLockedIn }}<th>Direction Locked In</th>{{ end }}
        {{ if $active }}<th>Active</th>{{ end }}
        {{ if $smoke }}<th>Smoke</th>{{ end }}
        {{ if $iceCreated }}<th>Ice Created</th>{{ end }}
        {{ if $capture }}<th>Capture</th>{{ end }}
        {{ if $invuln }}<th>Invulnerable</th>{{ end }}
        {{ if $projectileInvuln }}<th>Projectile Invuln.</th>{{ end }}
        {{ if $endlag }}<th>Endlag</th>{{ end }}
        {{ if $cancellable }}<th>Cancellable</th>{{ end }}
        {{ if $firstActiveFrame }}<th>FAF</th>{{ end }}
        {{ if $landingLag }}<th>Landing Lag</th>{{ end }}
        {{ if $lifetime }}<th>Lifetime</th>{{ end }}
        {{ if $cooldown }}<th>Cooldown</th>{{ end }}
        {{ if $damage }}<th>Damage</th>{{ end }}
        {{ if $angle }}<th>Angle</th>{{ end }}
        {{ if $angleFlipper }}<th>Flipper</th>{{ end }}
        {{ if $knockback }}<th>Knockback</th>{{ end }}
        {{ if $hitstunModifier }}<th>Hitstun</th>{{ end }}
        {{ if $forceFlinch }}<th>Force Flinch</th>{{ end }}
        {{ if $untechable }}<th>Untechable</th>{{ end }}
        {{ if $hitpause }}<th>Hitpause</th>{{ end }}
        {{ if $tipperStun }}<th>Tipper Stun</th>{{ end }}
        {{ if $asdiModifier }}<th>ASDI Mod</th>{{ end }}
        {{ if $hitLockout }}<th>Hit Lockout</th>{{ end }}
        {{ if $priority }}<th>Priority</th>{{ end }}
        {{ if $killsProjectiles }}<th>Kills Projectiles</th>{{ end }}
        {{ if $parryStun }}<th>Parry Stun</th>{{ end }}
        {{ if $cannotGalaxy }}<th>Cannot Galaxy</th>{{ end }}
        {{ if $movesRocks }}<th>Moves Kragg/SK Rocks</th>{{ end }}
        {{ if $setsOnFire }}<th>Sets On Fire</th>{{ end }}
        {{ if $consumesFire }}<th>Consumes Fire</th>{{ end }}
        {{ if $appliesMark }}<th>Applies Watcher's Mark</th>{{ end }}
        {{ if $wrapsMarked }}<th>Wraps Marked Opponents</th>{{ end }}
        {{ if $wrapLockout }}<th>Wrap Lockout</th>{{ end }}
        {{ if $appliesPoison }}<th>Applies Poison</th>{{ end }}
        {{ if $heat }}<th>Heat</th>{{ end }}
        {{ if $crystallizes }}<th>Crystallizes</th>{{ end }}
        {{ if $notes }}<th class="align-left">Notes</th>{{ end }}
      </tr>
    </thead>

    <tbody>
    {{ range .hitboxes }}<tr>

      {{ if $multiple }}<td class="sticky-col">{{ .name }}</td>{{ end }}

      {{ if $startup }}<td>
        {{ if reflect.IsMap .startup }}
          {{ if isset .startup "min" }}{{ .startup.min }}-{{ .startup.max }}{{ end }}
          {{ if isset .startup "loop" -}}
            {{ .startup.initial }} ({{ .startup.loop }} in loop)
          {{ else }}
            {{ with .startup.initial }}Initial:
              {{ if reflect.IsMap . }}
                {{ if isset . "min" }}{{ .min }}-{{ end -}}
                {{ with .max }}{{ . }}{{ end }}
                {{ if isset . "withBomb" }}
                  {{ .withoutBomb }} (+{{ sub .withBomb .withoutBomb }} With Bomb)
                {{ end }}
              {{ else }}{{ . }}{{ end }}<br>
            {{ end }}
            {{ with .startup.charge }}Charge:
              {{ if reflect.IsMap . }}
                {{ if isset . "min" }}{{ .min }}-{{ end -}}
                {{ with .max }}{{ . }}{{ end }}
              {{ else }}{{ . }}{{ end }}<br>
            {{ end }}
            {{ with .startup.aim }}Aim:
              {{ if reflect.IsMap . }}
                {{ if isset . "min" }}{{ .min }}-{{ end -}}
                {{ with .max }}{{ . }}{{ end }}
              {{ else }}{{ . }}{{ end }}<br>
            {{ end }}
            {{ with .startup.fullCharge }}Full Charge: {{ . }}<br>{{ end }}
            {{ with .startup.postCharge }}Post-Charge: {{ . }}{{ end }}
            {{ with .startup.fromLanding }}From Landing: {{ . }}{{ end }}
            {{ with .startup.grounded }}Grounded: {{ . }}<br>{{ end }}
            {{ with .startup.airborne }}Airborne: {{ . }}{{ end }}

            {{ with .startup.spike }}Spike: {{ . }}{{ end }}
            {{ with .startup.clone }}Clone:{{ . }}{{ end }}
            {{ with .startup.root }}Root: {{ . }}{{ end }}
            {{ with .startup.tether }}Tether: {{ . }}{{ end }}
            {{ with .startup.lily }}Lily: {{ . }}{{ end }}
            {{ if isset .startup "targetInHitstun" }}
              {{ .startup.targetNotInHitstun }} ({{ .startup.targetInHitstun}} if target in hitstun)
            {{ end }}
            {{ with .startup.icicle }}Icicle: {{ . }}{{ end }}
            {{ with .startup.preLaunch }}{{ . }} (Pre-Launch){{ end }}
            {{ with .startup.cloud }}Cloud: {{ . }}{{ end }}
            {{ with .startup.throw }}Throw: {{ . }}{{ end }}
            {{ with .startup.missile }}Shoot Missile: {{ . }}{{ end }}
            {{ with .startup.explosion }}{{ . }} (Explosion){{ end }}
            {{ with .startup.flareShot }}Flare Shot: {{ . }}{{ end }}
            {{ with .startup.punch }}Punch: {{ . }}{{ end }}
            {{ with .startup.grab }}Grab: {{ . }}{{ end }}
            {{ with .startup.detonation }}
              Initial Detonation: {{ .initial }}<br>Locked In Detonation: {{ .lockedIn }}
            {{ end }}
          {{ end }}
        {{- else }}{{ .startup }}{{ end }}
        {{ with .mustConnect }}({{ . }} Must Hit){{ end }}
      </td>{{ end }}

      {{ if $intangible }}<td>
        {{ if isset .intangible "from" }}{{ .intangible.from }}-{{ .intangible.to }}
        {{ else }}
          {{ with .intangible.grounded }}Grounded: {{ .from }}-{{ .to }}<br>{{ end }}
          {{ with .intangible.airborne }}Airborne: {{ .from }}-{{ .to }}{{ end }}
        {{ end }}
      </td>{{ end }}

      {{ if $directionLockedIn }}<td>{{ .directionLockedIn }}</td>{{ end }}

      {{ if $active }}<td>
        {{ if reflect.IsSlice .active }}
          {{ $len = len .active }}
          {{ range $index, $_ := .active }}
            {{ with .on }}{{ . }}{{ end -}}
            {{ with .from }}{{ . }}-{{ end -}}
            {{ with .to }}{{ . }}{{ end -}}
            {{ if lt (add $index 1) $len }}, {{ end -}}
          {{ end -}}
        {{ else }}
          {{ with .active.on }}{{ . }}{{ end -}}
          {{ with .active.from }}{{ . }}-{{ end -}}
          {{ with .active.to }}{{ . }}{{ end -}}
          {{ with .active.holdExtend }} (Hold attack to extend){{ end -}}
          {{ if reflect.IsMap .active.frames -}}
            {{ with .active.frames.max }} (Max {{ . }}f){{ end -}}
          {{ end -}}

          {{ with .active.minimum }}
            {{ if reflect.IsSlice . }}
              {{ $len = len . }}
              {{ range $index, $_ := . }}
                {{ with .on }}{{ . }}{{ end -}}
                {{ with .from }}{{ . }}-{{ end -}}
                {{ with .to }}{{ . }}{{ end -}}
                {{ if lt (add $index 1) $len }}, {{ end -}}
              {{ end -}}
              {{ if gt $len 5 }}<br>{{ end }}
            {{ else }}
              {{ with .on }}{{ . }}{{ end -}}
              {{ with .from }}{{ . }}-{{ end -}}
              {{ with .to }}{{ . }}{{ end -}}
            {{ end }}
          {{ end }}
          {{ with .active.continue }}
            {{ if reflect.IsMap . }}
              {{ with .noSpirits }}
                <br>[...{{ $len = len . -}}
                  {{ range $index, $_ := . -}}
                    {{ with .on }}{{ . }}{{ end -}}
                    {{ with .from }}{{ . }}-{{ end -}}
                    {{ with .to }}{{ . }}{{ end -}}
                    {{ if lt (add $index 1) $len }}, {{ end -}}
                  {{ end }}
                ] (No Spirits)
              {{ end }}
              {{ with .oneSpirit }}
                <br>[...{{ $len = len . -}}
                  {{ range $index, $_ := . -}}
                    {{ with .on }}{{ . }}{{ end -}}
                    {{ with .from }}{{ . }}-{{ end -}}
                    {{ with .to }}{{ . }}{{ end -}}
                    {{ if lt (add $index 1) $len }}, {{ end -}}
                  {{ end }}
                ] (1 Spirit)
              {{ end }}
              {{ with .twoSpirits }}
                <br>[...{{ $len = len . -}}
                  {{ range $index, $_ := . -}}
                    {{ with .on }}{{ . }}{{ end -}}
                    {{ with .from }}{{ . }}-{{ end -}}
                    {{ with .to }}{{ . }}{{ end -}}
                    {{ if lt (add $index 1) $len }}, {{ end -}}
                  {{ end }}
                ] (2 Spirits)
              {{ end }}
              {{ with .threeSpirits }}
                <br>[...{{ $len = len . -}}
                  {{ range $index, $_ := . -}}
                    {{ with .on }}{{ . }}{{ end -}}
                    {{ with .from }}{{ . }}-{{ end -}}
                    {{ with .to }}{{ . }}{{ end -}}
                    {{ if lt (add $index 1) $len }}, {{ end -}}
                  {{ end }}
                ] (3 Spirits)
              {{ end }}
            {{ else if reflect.IsSlice . -}}
              [
              {{ $len = len . -}}
              {{ range $index, $_ := . -}}
                {{ with .on }}{{ . }}{{ end -}}
                {{ with .from }}{{ . }}-{{ end -}}
                {{ with .to }}{{ . }}{{ end -}}
                {{ if lt (add $index 1) $len }}, {{ end -}}
              {{ end -}}
              ]
            {{ else }}
              [
              {{ with .on }}{{ . }}{{ end -}}
              {{ with .from }}{{ . }}-{{ end -}}
              {{ with .to }}{{ . }}{{ end -}}
              ]
            {{ end }}
          {{ end }}
          {{ with .active.loop }}
            [
            {{ $len = 2 }}{{ $iter = slice . . -}}
            {{ if .pairs }}{{ $len = 4 }}{{ $iter = slice . . . . }}{{ end }}
            {{- range $index, $_ := $iter }}
              {{- if and .pairs (modBool $index 2) }}({{ end }}
              {{- $counter = mul $index (add .frames .gap) -}}
              {{ add .start $counter }}-
              {{- sub (add (add .start .frames) $counter) 1 }}
              {{- if and .pairs (not (modBool $index 2)) }}){{ end }}
              {{- if lt (add $index 1) $len }}, {{ else }}...{{ end -}}
            {{ end }}
            ]
          {{- end -}}
          {{ with .active.possible }}
            [
            {{ if reflect.IsSlice . }}
              {{ $len = len . }}
              {{ range $index, $_ := . }}
                {{ with .on }}{{ . }}{{ end -}}
                {{ with .from }}{{ . }}-{{ end -}}
                {{ with .to }}{{ . }}{{ end -}}
                {{ if lt (add $index 1) $len }} / {{ end -}}
              {{ end }}
            {{ else }}
              {{ $len = 3 }}{{ $iter = slice . . . -}}
              {{- range $index, $_ := $iter }}
                {{- $counter = mul $index (add .frames .gap) -}}
                {{ add .start $counter }}-
                {{- sub (add (add .start .frames) $counter) 1 }}
                {{- if lt (add $index 1) $len }} / {{ else }}...{{ end -}}
              {{ end }}
            {{ end }}
            ]
          {{ end -}}

          {{ with .active.soonest }}
            {{ if isset . "loop" }}
              {{ with .minimum }}
                {{ if reflect.IsSlice . }}
                  {{ $len = len . }}
                  {{ range $index, $_ := . }}
                    {{ with .on }}{{ . }}{{ end -}}
                    {{ with .from }}{{ . }}-{{ end -}}
                    {{ with .to }}{{ . }}{{ end -}}
                    {{ if lt (add $index 1) $len }}, {{ end -}}
                    {{ if eq $index 4 }}<br>{{ end }}
                  {{ end -}}
                {{ else }}
                  {{ with .on }}{{ . }}{{ end -}}
                  {{ with .from }}{{ . }}-{{ end -}}
                  {{ with .to }}{{ . }}{{ end -}}
                {{ end }}
              {{ end }}
              {{ with .loop }}
                [
                {{ $len = 2 }}{{ $iter = slice . . -}}
                {{- range $index, $_ := $iter }}
                  {{- $counter = mul $index (add .frames .gap) -}}
                  {{ add .start $counter }}-
                  {{- sub (add (add .start .frames) $counter) 1 }}
                  {{- if lt (add $index 1) $len }}, {{ else }}...{{ end -}}
                {{ end }}
                ]
              {{- end }}
            {{ else }}
              {{ if reflect.IsSlice . }}
                {{ $len = len . }}
                {{ range $index, $_ := . }}
                  {{ with .on }}{{ . }}{{ end -}}
                  {{ with .from }}{{ . }}-{{ end -}}
                  {{ with .to }}{{ . }}{{ end -}}
                  {{ if lt (add $index 1) $len }}, {{ end -}}
                {{ end -}}
              {{ else }}
                {{ with .on }}{{ . }}{{ end -}}
                {{ with .from }}{{ . }}-{{ end -}}
                {{ with .to }}{{ . }}{{ end -}}
              {{ end }}
            {{ end }}
            {{ with .fullCan }}Full Can:
              {{ with .minimum }}
                {{ if reflect.IsSlice . }}
                  {{ $len = len . }}
                  {{ range $index, $_ := . }}
                    {{ with .on }}{{ . }}{{ end -}}
                    {{ with .from }}{{ . }}-{{ end -}}
                    {{ with .to }}{{ . }}{{ end -}}
                    {{ if lt (add $index 1) $len }}, {{ end -}}
                    {{ if eq $index 4 }}<br>{{ end }}
                  {{ end -}}
                {{ else }}
                  {{ with .on }}{{ . }}{{ end -}}
                  {{ with .from }}{{ . }}-{{ end -}}
                  {{ with .to }}{{ . }}{{ end -}}
                {{ end }}
              {{ end }}
              {{ with .continue }}
                [
                {{ if reflect.IsSlice . -}}
                  {{ $len = len . -}}
                  {{ range $index, $_ := . -}}
                    {{ with .on }}{{ . }}{{ end -}}
                    {{ with .from }}{{ . }}-{{ end -}}
                    {{ with .to }}{{ . }}{{ end -}}
                    {{ if lt (add $index 1) $len }}, {{ end -}}
                  {{ end -}}
                {{ else }}
                  {{ with .on }}{{ . }}{{ end -}}
                  {{ with .from }}{{ . }}-{{ end -}}
                  {{ with .to }}{{ . }}{{ end -}}
                {{ end }}
                ]
              {{ end }}<br>
            {{ end }}
            {{ with .emptyCan }}Empty Can:
              {{ with .minimum }}
                {{ if reflect.IsSlice . }}
                  {{ $len = len . }}
                  {{ range $index, $_ := . }}
                    {{ with .on }}{{ . }}{{ end -}}
                    {{ with .from }}{{ . }}-{{ end -}}
                    {{ with .to }}{{ . }}{{ end -}}
                    {{ if lt (add $index 1) $len }}, {{ end -}}
                    {{ if eq $index 4 }}<br>{{ end }}
                  {{ end -}}
                {{ else }}
                  {{ with .on }}{{ . }}{{ end -}}
                  {{ with .from }}{{ . }}-{{ end -}}
                  {{ with .to }}{{ . }}{{ end -}}
                {{ end }}
              {{ end }}
              {{ with .loop }}
                [
                {{ $len = 2 }}{{ $iter = slice . . -}}
                {{- range $index, $_ := $iter }}
                  {{- $counter = mul $index (add .frames .gap) -}}
                  {{ add .start $counter }}-
                  {{- sub (add (add .start .frames) $counter) 1 }}
                  {{- if lt (add $index 1) $len }}, {{ else }}...{{ end -}}
                {{ end }}
                ]
              {{- end }}
            {{ end }}
            {{ if isset . "withBomb" }}
              Without Bomb: {{ .withoutBomb.from }}-{{ .withoutBomb.to }}<br>
              With Bomb: {{ .withBomb.from }}-{{ .withBomb.to }}<br>
            {{ end }}

            (Soonest)
          {{- end -}}
          {{ if and (isset .active "soonest") (isset .active "latest") }}<br>{{ end }}
          {{ with .active.latest }}
            {{ with .possible }}
              [
              {{ $len = len . }}
              {{ range $index, $_ := . }}
                {{ with .on }}{{ . }}{{ end -}}
                {{ with .from }}{{ . }}-{{ end -}}
                {{ with .to }}{{ . }}{{ end -}}
                {{ if lt (add $index 1) $len }} / {{ end -}}
              {{ end }}
              ]
            {{ end }}
            {{ with .on }}{{ . }}{{ end }}
            {{ with .from }}{{ . }}-{{ end -}}
            {{ with .to }}{{ . }}{{ end }}
            (Latest)
          {{ end }}

          {{ if isset .active "min" }}
            {{- with .active.min }}
              {{ with .on }}{{ . }}{{ end -}}
              {{ with .from }}{{ . }}-{{ end -}}
              {{ with .to }}{{ . }}{{ end }}
              (Minimum)<br>
            {{ end }}
            {{- with .active.max }}
              {{ with .on }}{{ . }}{{ end -}}
              {{ with .from }}{{ . }}-{{ end -}}
              {{ with .to }}{{ . }}{{ end }}
              (Maximum)<br>
            {{ end }}
          {{ end }}

          {{- with .active.grounded }}Grounded:
            {{ with .on }}{{ . }}{{ end -}}
            {{ with .from }}{{ . }}-{{ end -}}
            {{ with .to }}{{ . }}{{ end }}<br>
          {{ end }}
          {{- with .active.airborne }}Airborne:
            {{ with .on }}{{ . }}{{ end -}}
            {{ with .from }}{{ . }}-{{ end -}}
            {{ with .to }}{{ . }}{{ end }}<br>
          {{ end }}
          {{- with .active.onLanding }}On Landing:
            {{ with .loop }}
            [
            {{ $len = 2 }}{{ $iter = slice . . -}}
            {{ if .pairs }}{{ $len = 4 }}{{ $iter = slice . . . . }}{{ end }}
            {{- range $index, $_ := $iter }}
              {{- $counter = mul $index (add .frames .gap) -}}
              {{ add .start $counter }}-
              {{- sub (add (add .start .frames) $counter) 1 }}
              {{- if lt (add $index 1) $len }}, {{ else }}...{{ end -}}
            {{ end }}
            ]
          {{- end -}}
            {{ with .on }}{{ . }}{{ end -}}
            {{ with .from }}{{ . }}-{{ end -}}
            {{ with .to }}{{ . }}{{ end }}
          {{- end -}}
          {{ if isset .active "onHit" }}On Hit:
            {{ with .active.onHit }}
              {{ if reflect.IsSlice . }}
                {{ $len = len . }}
                {{ range $index, $_ := . }}
                  {{ with .on }}{{ . }}{{ end -}}
                  {{ with .from }}{{ . }}-{{ end -}}
                  {{ with .to }}{{ . }}{{ end -}}
                  {{ if lt (add $index 1) $len }}, {{ end -}}
                {{ end -}}
              {{ else }}
                {{ with .on }}{{ . }}{{ end -}}
                {{ with .from }}{{ . }}-{{ end -}}
                {{ with .to }}{{ . }}{{ end }}
                {{ if .onlyHitsProjectiles }}<br>(Only Hits Projectiles){{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
          {{- with .active.onParry }}On Parry:
            {{ with .on }}{{ . }}{{ end -}}
            {{ with .from }}{{ . }}-{{ end -}}
            {{ with .to }}{{ . }}{{ end }}
          {{- end -}}
          {{ if isset .active "targetInHitstun" }}
            {{ with .active.targetNotInHitstun.on }}{{ . }}{{ end -}}
            {{ with .active.targetNotInHitstun.from }}{{ . }}-{{ end -}}
            {{ with .active.targetNotInHitstun.to }}{{ . }}{{ end }}
            ({{ with .active.targetInHitstun.on }}{{ . }}{{ end -}}
            {{ with .active.targetInHitstun.from }}{{ . }}-{{ end -}}
            {{ with .active.targetInHitstun.to }}{{ . }}{{ end }} if target not in hitstun)
          {{ end }}
          {{ with .active.unstuck }}Unstuck:
            {{ if reflect.IsSlice . }}
              {{ $len = len . }}
              {{ range $index, $_ := . }}
                {{ .on }}{{ if lt (add $index 1) $len }}, {{ end -}}
              {{ end }}
            {{ else }}{{ .on }}{{ end }}<br>
          {{ end }}
          {{ with .active.stuck }}Stuck:
            {{ if reflect.IsSlice . }}
              {{ $len = len . }}
              {{ range $index, $_ := . }}
                {{ .on }}{{ if lt (add $index 1) $len }}, {{ end -}}
              {{ end }}
            {{ else }}{{ .on }}{{ end }}<br>
          {{ end }}
          {{ with .active.parried }}Parried (Latest):
            {{ with .latest }}
              {{ if reflect.IsSlice . }}
                {{ $len = len . }}
                {{ range $index, $_ := . }}
                  {{ .on }}{{ if lt (add $index 1) $len }}, {{ end -}}
                {{ end }}
              {{ else }}{{ .on }}{{ end }}
            {{ end }}
          {{ end }}
          {{ if .active.onlyHitsProjectiles }}<br>(Only Hits Projectiles){{ end }}
        {{ end -}}
        {{ if .notActiveDuringHitpause }}<br>(Not active during hitpause){{ end }}
      </td>{{ end }}

      {{ if $smoke }}<td>
        {{ with .smoke.inactive }}Inactive:
          {{ if reflect.IsSlice . }}
            {{ $len = len . }}
            {{ range $index, $_ := . }}
              {{ . }}{{ if lt (add $index 1) $len }}, {{ end -}}
              {{ if or (eq $index 3) }}<br>{{ end }}
            {{ end }}
          {{ else }}{{ . }}{{ end }}
        {{ end }}<br>
        {{ with .smoke.active }}Active: {{ . }}{{ end }}
      </td>{{ end }}

      {{ if $iceCreated }}<td>
        {{ with .iceCreated }}
          {{ if reflect.IsSlice . }}
            {{ $len = len . }}
            {{ range $index, $_ := . }}
              {{ . }}{{ if lt (add $index 1) $len }}, {{ end -}}
            {{ end }}
          {{ else if reflect.IsMap . }}
            {{ with .soonest }}{{ . }} (Soonest)<br>{{ end }}
            {{ with .latest }}{{ . }} (Latest){{ end }}
          {{ else }}{{ . }}{{ end }}
        {{ end }}<br>
      </td>{{ end }}

      {{ if $capture }}<td>
        {{ if isset . "capture" }}{{ .capture.entity }}: {{ .capture.from }}-{{ end }}
      </td>{{ end }}

      {{ if $invuln }}<td>
        {{ if isset . "invuln" }}{{ .invuln.from }}-{{ .invuln.to }}{{ end }}
      </td>{{ end }}

      {{ if $projectileInvuln }}<td>
        {{ with .projectileInvuln }}
          {{ with .during }}{{ . }}{{ end }}
          {{ if isset . "from" }}
            {{ with .during }}({{ end }}{{ .from }}-{{ .to }}{{ with .during }}){{ end }}
          {{ end }}
          {{ if isset . "min" }}
            {{ .min.from }}-{{ .min.to }} (Minimum)<br>{{ .max.from }}-{{ .max.to }} (Maximum)
          {{ end }}
          {{ with .onLanding }}On Landing:
            {{ .from }}-{{ .to }}{{ if .onlyLessThan8 }} (Projectiles Less Than 8%){{ end }}
          {{ end }}
        {{ end }}
      </td>{{ end }}

      {{ if $endlag }}<td>
        {{ if or (isset .endlag "hit") (isset .endlag "whiff") }}
          {{ with .endlag.hit }}
            {{ if reflect.IsMap . }}
              {{ with .calculator }}
                <a href="{{ . }}" title="Calculator" target="_blank" rel="noopener noreferrer">
              {{ end }}
              {{ with .min }}{{ . }}-{{ end -}}
              {{ with .max }}{{ . }}{{ end }}
              {{ with .basedOn }}({{ . }}){{ end }}
              {{ with .calculator }}</a>{{ end }}
            {{ else }}{{ . }}{{ end }}
          {{ else }} - {{ end }} /
          {{ with .endlag.whiff }}
            {{ if isset . "bothHits" }}
              <br>{{ .bothHits }} (Whiff both Hit 1-2)
              <br>{{ .onlyHit2 }} (Whiff only Hit 2)
            {{- else }}{{ . }}{{ end -}}
          {{ else }} - {{ end -}}<br>
        {{ end }}
        {{ if reflect.IsMap .endlag }}
          {{ with .endlag.min }}{{ . }}-{{ end -}}
          {{ with .endlag.max }}{{ . }}{{ end }}
          {{ with .endlag.possible }}
            [
            {{ $len = len . }}
            {{ range $index, $_ := . }}
              {{ . }}{{ if lt (add $index 1) $len }} / {{ end -}}
            {{ end -}}
            ]
          {{ end -}}
          {{ with .endlag.grounded }}
            Grounded: {{ if reflect.IsMap . }}{{ .hit }} / {{ .whiff }}{{ else }}{{ . }}{{ end }}<br>
          {{ end }}
          {{ with .endlag.groundedReverse }}Reverse (Grounded): {{ . }}<br>{{ end }}
          {{ with .endlag.airborne }}Airborne:
            {{ if isset . "hit" }}{{ .hit }} / {{ .whiff }}{{ else }}{{ . }}<br>{{ end }}
          {{ end }}
          {{ with .endlag.cancel }}Cancel:
            {{ if isset . "hit" }}{{ .hit }} / {{ .whiff }}{{ else }}{{ . }}{{ end }}
          {{ end }}
          {{ with .endlag.breakingObject }}Breaking Object: {{ . }}{{ end }}
          {{ if isset .endlag "inSmoke" }}
            {{ .endlag.notInSmoke }} ({{ .endlag.inSmoke }} in smoke)
          {{ end }}
          {{ with .endlag.spitBack }}Spit Back: {{ . }}<br>{{ end }}
          {{ with .endlag.slingshot }}
            Slingshot (Grounded): {{ .grounded.min }}-{{ .grounded.max }}<br>
            Slingshot (Aerial): {{ .aerial.min }}-{{ .aerial.max }}
          {{ end }}
          {{ if isset .endlag "jab34" }}
            {{ .endlag.jab34 }} ({{ .endlag.following }} following Jab 3-4)
          {{ end }}
          {{ if isset .endlag "onGrass" }}
            {{ .endlag.offGrass }} ({{ .endlag.onGrass }} on grass)
          {{ end }}
          {{ with .endlag.rebuildMech }}Rebuild Mech: {{ . }}{{ end }}
          {{ with .endlag.firstSpray }}First Spray: {{ . }}<br>{{ end }}
          {{ with .endlag.releaseAttack }}Release Attack: {{ . }}{{ end }}
          {{ with .endlag.slide }}Slide: {{ .hit }} / {{ .whiff }}<br>{{ end }}
          {{ with .endlag.noSlide }}No Slide: {{ .hit }} / {{ .whiff }}{{ end }}
          {{ with .endlag.nonDizzy }}Non-Dizzy: {{ . }}<br>{{ end }}
          {{ with .endlag.dizzy }}Dizzy: {{ .min }}-{{ .max }}{{ end }}
          {{ with .endlag.noHarmonyField }}No Harmony Field: {{ . }}<br>{{ end }}
          {{ with .endlag.harmonyField }}Harmony Field: {{ . }}{{ end }}
          {{ with .endlag.sein }}Sein:
            {{ if reflect.IsMap . }}
              {{ .hit }} / {{ .whiff.fullyInactive }}+{{ .whiff.teamUpAvailable }}
            {{ else }}{{ . }}{{ end }}
          {{ end }}
          {{ if isset .endlag "overTwoGloves" }}
            {{ .endlag.twoOrLessGloves }} ({{ .endlag.overTwoGloves }} if >2 gloves are thrown)
          {{ end }}
          {{ with .endlag.fromAnchorReachingSK }}From Anchor Reaching SK: {{ . }}{{ end }}
          {{ else }}{{ .endlag }}{{ end }}
      </td>{{ end }}

      {{ if $cancellable }}<td>
        {{ range .cancellable }}
          {{ .with }}
          {{- with .condition }} ({{ . }}){{ end }}
          {{- with .input }} (Input {{ . }}){{ end }}
          {{- with or (isset . "during") (isset . "windows")
            (isset . "hit") (isset . "on") (isset . "from") }}:{{ end }}
          {{ with .last }}Last {{ . }}f{{ end }}
          {{ with .during }}{{ title . }}{{ end }}
          {{ with .windows -}}
            {{ $len = len . -}}
            {{ range $index, $_ := . -}}
              {{ if isset . "hit" -}}
                {{ with .hit.on }}{{ . }}{{ end -}}
                {{ with .hit.from }}{{ . }}-{{ end -}}
                {{ with .hit.to }}{{ . }}{{ end }} /
                {{ with .whiff.on }}{{ . }}{{ end -}}
                {{ with .whiff.from }}{{ . }}-{{ end -}}
                {{ with .whiff.to }}{{ . }}{{ end }}
                {{ with .whiff.condition }}({{ . }}){{ end }}
              {{ else -}}
                {{ with .on }}{{ . }}{{ end -}}
                {{ with .from }}{{ . }}-{{ end -}}
                {{ with .to }}{{ . }}{{ end -}}
              {{ end -}}
              {{ with .endlag }}({{ . }}f Endlag){{ end -}}
              {{ if lt (add $index 1) $len }},{{ end }}
            {{ end -}}
            <br>
          {{ else -}}
            {{ if isset . "hit" -}}
              {{ with .hit.on }}{{ . }}{{ end -}}
              {{ with .hit.from }}{{ . }}-{{ end -}}
              {{ with .hit.to }}{{ . }}{{ end }}
              {{ with .hit.condition }}({{ . }}){{ end }}
              {{ with .whiff.on }}/ {{ . }}{{ end -}}
              {{ with .whiff.from }}/ {{ . }}-{{ end -}}
              {{ with .whiff.to }}{{ . }}{{ end }}
              {{ with .whiff.condition }}({{ . }}){{ end }}
            {{ else if isset . "min" }}
              {{ with .min }}{{ .from }}-{{ .to }} (Min){{ end }}
              {{- with .max }}, {{ .from }}-{{ .to }} (Max){{ end }}
            {{ else -}}
              {{ with .on }}{{ . }}{{ end -}}
              {{ with .from }}{{ . }}-{{ end -}}
              {{ with .to }}{{ . }}{{ end -}}
            {{ end }}
            {{ with .endlag }} ({{ . }}f Endlag){{ end }}
            {{ with .cooldown }}({{ . }}f Cooldown){{ end }}
            <br>
          {{ end -}}
        {{ end -}}
      </td>{{ end }}

      {{ if $firstActiveFrame }}<td>
        {{ if reflect.IsMap .firstActiveFrame }}
          {{ with .firstActiveFrame.soonest }}
            {{ if reflect.IsMap . }}
              {{ with .withoutBomb }}Without Bomb: {{ . }}<br>{{ end }}
              {{ with .withBomb }}With Bomb: {{ . }}<br>{{ end }}
            {{ else }}{{ . }}{{ end }}
            (Soonest)
          {{ end }}
          {{ if isset .firstActiveFrame "max" }}
            {{ .firstActiveFrame.min }}-{{ .firstActiveFrame.max }}
          {{ end }}
          {{ with .firstActiveFrame.minimum }}{{ . }} (Minimum){{ end }}
          {{ with .firstActiveFrame.possible }}
            [
            {{ $len = len . }}
            {{ range $index, $_ := . }}
              {{ . }}{{ if lt (add $index 1) $len }} / {{ end -}}
            {{ end -}}
            ]
          {{ end -}}
          {{ with .firstActiveFrame.whiff }}Whiff: {{ . }}<br>{{ end }}
          {{ with .firstActiveFrame.grounded }}Grounded: 
            {{ if reflect.IsMap . }}{{ .min }}-{{ .max }}{{ else }}{{ . }}{{ end }}<br>
          {{ end }}
          {{ with .firstActiveFrame.airborne }}Airborne: {{ . }}<br>{{ end }}
          {{ with .firstActiveFrame.groundedReverse }}Reverse (Grounded): {{ . }}<br>{{ end }}
          {{ with .firstActiveFrame.onLanding }}On Landing: {{ . }}{{ end }}
          {{ with .firstActiveFrame.pratFall }}
            {{ if isset . "min" }}{{ .min }}-{{ .max }}{{ else }}{{ . }}{{ end }} (In Prat Fall)<br>
          {{ end }}
          {{ with .firstActiveFrame.cancel }}
            Cancel: {{ if reflect.IsMap . }}{{ .hit }} / {{ .whiff }}{{ else }}{{ . }}{{ end }}
          {{ end }}
          {{ with .firstActiveFrame.postTravelTime }}{{ . }} (Post Travel Time){{ end }}
          {{ if isset .firstActiveFrame "inSmoke" }}
            {{ .firstActiveFrame.notInSmoke }} ({{ .firstActiveFrame.inSmoke }} in smoke)
          {{ end }}
          {{ if isset .firstActiveFrame "onGrass" }}
            {{ .firstActiveFrame.offGrass }} ({{ .firstActiveFrame.onGrass }} on grass)
          {{ end }}
          {{ with .firstActiveFrame.spitBack }}Spit Back: {{ . }}<br>{{ end }}
          {{ with .firstActiveFrame.slingshot }}
            Slingshot (Grounded): {{ .grounded.min }}-{{ .grounded.max }}<br>
            Slingshot (Aerial): {{ .aerial.min }}-{{ .aerial.max }}
          {{ end }}
          {{ with .firstActiveFrame.rebuildMech }}Rebuild Mech: {{ . }}{{ end }}
          {{ with .firstActiveFrame.slide }}Slide: {{ . }}<br>{{ end }}
          {{ with .firstActiveFrame.noSlide }}No Slide: {{ . }}{{ end }}
          {{ with .firstActiveFrame.noHarmonyField }}No Harmony Field: {{ .pratFall }} (In Prat Fall)<br>{{ end }}
          {{ with .firstActiveFrame.harmonyField }}Harmony Field: {{ . }}{{ end }}
          {{ with .firstActiveFrame.anchorIsUnableToCast }}Anchor is unable to cast: {{ . }}{{ end }}
          {{ with .firstActiveFrame.fromAnchorReachingSK }}From Anchor Reaching SK: {{ . }}{{ end }}
          {{ with .firstActiveFrame.shop }}Shop: {{ . }}{{ end }}
        {{- else }}
          {{ .firstActiveFrame }}
        {{ end -}}
      </td>{{ end }}

      {{ if $landingLag }}<td>
        {{ if reflect.IsMap .landingLag }}
          {{ if isset .landingLag "hit" }}{{ .landingLag.hit }} / {{ .landingLag.whiff -}}{{ end }}
          {{ with .landingLag.openParasol }}{{ . }} (Open Parasol){{ end }}
          {{ with .landingLag.duringActivePlus1 }}During Active/1st Frame Endlag: {{ . }}<br>{{ end }}
          {{ with .landingLag.duringRemaining }}During Remaining Endlag: {{ . }}{{ end }}
          {{ with .landingLag.duringStartup }}During Startup: {{ . }}<br>{{ end }}
          {{ with .landingLag.duringActiveEndlag }}
            During Active/Endlag: {{ .hit.from }}-{{ .hit.to }} / {{ .whiff.from }}-{{ .whiff.to }}
          {{ end }}
        {{ else }}{{ .landingLag }}{{ end -}}
      </td>{{ end }}

      {{ if $lifetime }}<td>
        {{ if isset . "lifetime" }}
          {{ with .lifetime.duration }}{{ . }}f{{ end }}
          {{ if isset .lifetime "from" }}({{ .lifetime.from }}-{{ .lifetime.to }}){{ end }}
          {{ with .lifetime.resetBy }}<br>Reset by: {{ . }}{{ end }}
          {{ with .lifetime.despawn }}(+{{ . }} despawn){{ end }}
        {{ end }}
      </td>{{ end }}

      {{ if $cooldown }}<td>
        {{ if reflect.IsSlice .cooldown }}
          {{ $len = len .cooldown }}
          {{ range $index, $_ :=.cooldown }}
            {{ with .move }}{{ . }}:{{ end }}
            {{ if reflect.IsMap .time }}{{ .time.min }}-{{ .time.max }}{{ else }}{{ .time }}{{ end -}}
            {{ with .additional }}+{{ . }}{{ end }}
            {{ if or (isset . "on") (isset . "onlyInAir") }}
              ({{ with .on }}On {{ . }}{{ end }}
              {{- if and (isset . "on") (isset . "onlyInAir") }} {{ end }}
              {{- with .onlyInAir }}in air{{ end }})
            {{ end }}
            {{ if lt (add $index 1) $len }}<br>{{ end -}}
          {{ end }}
        {{- else }}{{ .cooldown }}{{ end -}}
      </td>{{ end }}

      {{ if $damage }}<td>
        {{ if isset . "damage" }}
          {{ if reflect.IsMap .damage }}
            {{ with .damage.calculator }}
              <a href="{{ . }}" title="Calculator" target="_blank" rel="noopener noreferrer">
            {{ end }}
            {{ with .damage.min }}{{ . }}-{{ end -}}
            {{ with .damage.max }}{{ . }}%{{ end }}
            {{ with .damage.from }}{{ . }}-{{ end -}}
            {{ with .damage.to }}{{ . }}%{{ end }}
            {{ with .damage.basedOn }}({{ . }}){{ end }}
            {{ with .damage.calculator }}</a>{{ end }}
            {{ with .damage.creation }}Creation: {{ . }}%<br>{{ end }}
            {{ with .damage.movedBy }}
              {{ $len = len . }}
              {{ range $index, $_ := . }}
                Moved by {{ .move }}:
                {{ if isset .damage "min" }}
                  {{ with .damage.min }}{{ . }}-{{ end -}}
                  {{ with .damage.max }}{{ . }}{{ end }}%
                  {{ with .damage.basedOn }}({{ . }}){{ end -}}
                {{ else -}}
                  {{ .damage -}}%
                {{- end }}
                {{- if lt (add $index 1) $len }}<br>{{ end -}}
              {{ end -}}
            {{ end -}}
          {{ else }}{{ .damage }}%{{ end -}}
        {{ end -}}
      </td>{{ end }}

      {{ if $angle }}<td>
        {{ if isset . "angle" }}
          {{ if reflect.IsSlice .angle }}
            {{ $len = len .angle }}
            {{ range $index, $_ := .angle }}
              {{ .angle }}°{{ if lt (add $index 1) $len }} / {{ end -}}
            {{ end }}
          {{- else }}{{ .angle }}°{{ end -}}
        {{ end }}
      </td>{{ end }}

      {{ if $angleFlipper }}<td>{{ .angleFlipper }}</td>{{ end }}

      {{ if $knockback }}<td>{{ with .knockback }}
        {{ if reflect.IsMap .base }}
          {{ with .base.from }}{{ . }}-{{ end -}}
          {{ with .base.to }}{{ . }}{{ end }}
          {{ with .base.scaling }}({{ . }}){{ end }}
          {{ with .base.calculator }}
            <a href="{{ . }}" title="Calculator" target="_blank" rel="noopener noreferrer">
          {{ end }}
          {{ with .base.min }}{{ . }}-{{ end -}}
          {{ with .base.max }}{{ . }}{{ end }}
          {{ with .base.basedOn }}({{ . }}){{ end }}
          {{ with .base.calculator }}</a>{{ end }}
        {{ else -}}
          {{ .base }}
        {{ end }} |
        {{ if reflect.IsMap .scaling }}
          {{ with .scaling.calculator }}
            <a href="{{ . }}" title="Calculator" target="_blank" rel="noopener noreferrer">
          {{ end }}
          {{ with .scaling.min }}{{ . }}-{{ end -}}
          {{ with .scaling.max }}{{ . }}{{ end }}
          {{ with .scaling.basedOn }}({{ . }}){{ end }}
          {{ with .scaling.calculator }}</a>{{ end }}
          {{ .scaling.standard }}
          {{ with .scaling.tetherCancel }}({{ . }} after Tether cancel){{ end }}
        {{ else }}{{ .scaling }}{{ end }}
      {{ end }}</td>{{ end }}

      {{ if $hitstunModifier }}<td>
        {{ if isset . "hitstunModifier" }}
          {{ if reflect.IsMap .hitstunModifier }}
            {{ with .hitstunModifier.from }}{{ . }}-{{ end -}}
            {{ with .hitstunModifier.to }}{{ . }}×{{ end }}
            {{ with .hitstunModifier.scaling }}({{ . }}){{ end }}
            {{ with .hitstunModifier.opponentAirborne }}Opponent Airborne: {{ . }}×<br>{{ end }}
            {{ with .hitstunModifier.opponentGrounded }}Opponent Grounded: {{ . }}×{{ end }}
          {{ else }}{{ .hitstunModifier }}×{{ end }}
        {{ end }}
      </td>{{ end }}

      {{ if $forceFlinch }}<td>{{ .forceFlinch }}</td>{{ end }}

      {{ if $untechable }}<td>
        {{ if isset .untechable "note" }}
          <div class="untechable-note">{{ .untechable.note }}</div>
        {{ else }}
          {{ title .untechable }}
        {{ end }}
      </td>{{ end }}

      {{ if $hitpause }}<td>
        {{ with .hitpause }}{{ .base }} | {{ .scaling }}{{ end -}}
        {{ with .hitpause.extra }}<br>
          {{ if isset . "onOpponent" }} (+{{ .onOpponent }} on opponent)
          {{ else }}(+{{ . }}){{ end }}
        {{ end -}}
      </td>{{ end }}

      {{ if $tipperStun }}<td>{{ .tipperStun }}</td>{{ end }}

      {{ if $asdiModifier }}<td>
        {{ if isset . "asdiModifier" }}{{ .asdiModifier }}×{{ end }}
      </td>{{ end }}

      {{ if $hitLockout }}<td>
        {{ if isset .hitLockout "internal" }}{{ .hitLockout.internal }} (Internal)
        {{ else }}{{ .hitLockout }}{{ end }}
      </td>{{ end }}

      {{ if $priority }}<td>
        {{ if reflect.IsSlice .priority }}
          {{ $len = len .priority }}
          {{ range $index, $_ := .priority }}
            {{ .priority }}{{ if lt (add $index 1) $len }} / {{ end -}}
          {{ end }}
        {{- else }}{{ .priority }}{{ end -}}
      </td>{{ end }}

      {{ if $killsProjectiles }}<td>{{ title .killsProjectiles }}</td>{{ end }}

      {{ if $parryStun }}<td>
        {{ if isset . "parryStun" }}
          {{ if reflect.IsMap .parryStun }}
            {{ with .parryStun.uniqueEndlag }}
              {{ .animation }}
              {{ with .frames }}
                {{ if isset . "min" }}{{ .min }}-{{ .max }}{{ else }}{{ . }}{{ end }}f
              {{ end }}
            +{{ end }}
            {{ if .parryStun.extended }}Extended{{ else }}40f{{ end }}
            {{ with .parryStun.extra }}+ {{ . }}f{{ end }}
          {{ else }}{{ if .parryStun }}Standard{{ else }}None{{ end }}{{ end }}
        {{ end }}
      </td>{{ end }}

      {{ if $cannotGalaxy }}<td>{{ humanize .cannotGalaxy }}</td>{{ end }}

      {{ if $movesRocks}}<td>{{ title .movesRocks }}</td>{{ end }}

      {{ if $setsOnFire }}<td>{{ title .setsOnFire }}</td>{{ end }}
      {{ if $consumesFire }}<td>{{ title .consumesFire }}</td>{{ end }}

      {{ if $appliesMark }}<td>{{ title .appliesMark }}</td>{{ end }}
      {{ if $wrapsMarked }}<td>{{ title .wrapsMarked }}</td>{{ end }}
      {{ if $wrapLockout }}<td>{{ title .wrapLockout }}</td>{{ end }}

      {{ if $appliesPoison }}<td>
        {{ with .appliesPoison }}{{ . }} Stack{{ if gt . 1 }}s{{ end }}{{ end }}
      </td>{{ end }}

      {{ if $heat }}<td>
        {{ with .heat.added }}+
          {{- .amount }} heat
          {{ with .on }}on
            {{ if reflect.IsMap . }}
              {{ with .active }}{{ humanize . }} active frame{{ end }}
              {{ with .startup.missile }}{{ humanize . }} frame of missile startup{{ end }}
            {{ else }}f{{ . }}{{ end }}
          {{ end }}
          {{ with .eachExtending }}of each extending {{ . }}{{ end }}
          {{ if isset . "from" }}from f{{ .from }}-{{ .to }}{{ end }}
          {{- with .note }}, {{ . }}{{ end }}
        {{ end }}
        {{ with .heat.reduced }}Reduces
          {{ if reflect.IsMap .amount }}
            {{ .amount.min }}-{{ .amount.max }} heat
            {{ if isset .amount "basedOn" }}
              ({{ with .amount.scaling }}{{ . }} {{ end }}w/ {{ .amount.basedOn }})
            {{ end }}
          {{ else }}{{ .amount }} heat{{ end }}
          {{ with .on }}on
            {{ if reflect.IsMap . }}
              {{ with .active }}{{ humanize . }} active frame{{ end }}
            {{ else }}f{{ . }}{{ end }}
          {{ end }}
          {{ with .aerialConsecutivePenalty }}
            <br>Consecutive aerial strongs reduce amount by
            {{ $len = len . }}
            {{ range $index, $_ := . }}
              {{ if not (lt (add $index 1) $len) }} capping at{{ end }}
              {{ . }}x
              {{- if lt (add $index 1) $len }}, {{ end }}
            {{ end }}
          {{ end }}
          {{ if isset . "from" }}from
            {{ with .during }}{{ . }}{{ end }}
            f{{ .from }}-{{ .to }}
          {{- end }}
          {{- with .note }}, {{ . }}{{ end }}
        {{ end }}
      </td>{{ end }}

      {{ if $crystallizes }}<td>{{ title .crystallizes }}</td>{{ end }}

      {{ if $notes }}<td><div class="notes align-left">
        {{ range .notes }}{{ . }} {{ end }}
      </div></td>{{ end }}

    </tr>{{ end }}
    </tbody>
  </table>
</div>

{{ with .notes }}
  <p class="move-notes">{{ range . }}{{ . }} {{ end }}</p>
{{ end }}

{{ with .image.highRes }}
  <div class="hitbox-image">
    <img src="{{ . }}" alt="In-game screenshot of this attack's hitbox{{ with $multiple }}es{{ end }}">
  </div>
{{ end }}
