<a class="skip-nav" href="#main-content">Skip to content</a>

<nav class="navbar">
  <a class="nav-logo" href="/">(logo)</a>

  <input class="nav-menu" type="checkbox" id="nav-menu"/>
  <label class="hamb" for="nav-menu"><span class="hamb-line"></span></label>

  <ul class="nav-list">
    <li><a href="/library">Library</a></li>
    <li><a href="/guides">Guides</a></li>
    <li><a href="/tournaments">Tournaments</a></li>
    <li><a href="/about">About</a></li>
    <li>
      <a href="{{ site.Data.links.discord }}" target="_blank" rel="noopener noreferrer">
        {{ partial "svg/icon-discord.svg" }}
      </a>
    </li>
  </ul>
</nav>