<a class="skip-nav" href="#main-content">Skip to content</a>

<nav class="navbar">
  <a class="nav-logo" href="/"></a>

  <button class="hamb-btn"
          aria-controls="nav-list"
          aria-expanded="false"
          onclick="toggleHambMenu()">
    <span class="sr-only">Menu</span>
    <div class="hamb-line" aria-hidden="true"></div>
  </button>

  <ul class="nav-list" id="nav-list">
    <li><a href="/library">Library</a></li>
    <li><a href="/guides">Guides</a></li>
    <li><a href="/tournaments">Tournaments</a></li>
    <li><a href="/about">About</a></li>
    <li>
      <a class="nav-discord"
         href="{{ site.Data.links.roaa.discord }}"
         target="_blank" rel="noopener noreferrer">
        {{ partial "svg/socials/discord.svg" }}<span>Discord</span>
      </a>
    </li>
  </ul>
</nav>