:root {
  --text-color: black;
  --bg-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h3 {
  margin-bottom: 0.3rem;
}

table, th, td {
  border: 1px solid var(--text-color);
  transition: border 1000ms ease-in-out;
}

table {
  border-collapse: collapse;
}

th {
  padding: 0 0.4rem;
  text-align: left;
}

td {
  padding: 0.2rem 0.4rem;
}

.navbar {
  height: 5rem;
  width: 100%;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item:hover {
  transform: scale(1.05);
  transition: .1s ease-in-out;
}

.nav-item:active {
  transform: scale(0.95);
  transition: .05s;
}

.nav-item a {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: currentColor;
}

.nav-item button {
  background: transparent;
  border: none;
  height: 1.75rem;
  width: 1.75rem;
  padding: 5px 0;
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .nav-item {
    margin-right: 2rem;
  }

  .nav-item:first-child {
    margin-left: 2rem;
  }
}

/* Small screens */
@media only screen and (max-width:600px) {
  .nav-item {
    margin-right: 1rem;
  }

  .nav-item:first-child {
    margin-left: 1rem;
  }
}