:root {
  --clr-text: #202022;
  --clr-text-hc: black;
  --clr-bg: white;
  --clr-highlight: #ebebf0;
  --clr-table-border: #a3a2b1;

  --page-padding: clamp(1rem, 2.5vw, 2rem);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

a {
  text-decoration: none;
}

article {
  padding: 0 var(--page-padding);
}

button {
  cursor: pointer;
}

h3 {
  margin-bottom: 0.3rem;
}

h1 svg,
h2 svg,
h3 svg,
h4 svg,
h5 svg,
h6 svg {
  height: .875em;
  padding: 0 .125rem;
  fill: var(--clr-table-border);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}/*https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html*/

.heading-link {
  border: none;
  background: none;
  font-size: inherit;
  padding: 1px 0;
  margin: 0 .2em;
}

.heading-link svg {
  display: none;
  fill: var(--clr-table-border);
}

.heading:hover .heading-link svg,
.heading-link:focus svg {
  display: flex;
}

.heading-link:hover svg {
  fill: currentColor;
}

@supports selector(:focus-visible) {
  .heading-link:focus svg {
    display: none;
  }

  .heading-link:focus-visible svg {
    display: flex;
  }
}

.heading-link ~ .copied {
  display: none;
  position: absolute;
  white-space: nowrap;
  border-radius: .325em;
  padding: .125em .4em;
  margin-left: .25em;
  font-size: .75em;
  font-weight: normal;
  color: var(--clr-bg);
  background-color: var(--clr-text);
}

.heading-link ~ .copied:before {
  content: '';
  position: absolute;
  width: .5em;
  height: .5em;
  transform: rotate(45deg);
  z-index: -1;
  right: 95%;
  bottom: 35%;
  background-color: var(--clr-text);
}

.data-copy-success svg {
  display: flex !important;
}

.data-copy-success .copied {
  display: inline-block;
}

.skip-nav {
  position: absolute;
  z-index: 2;
  transform: translateY(-150%);
  transition: transform .1s ease-in;
  color: var(--clr-text);
  background: var(--clr-highlight);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  margin: 1rem
}

.skip-nav:focus {
  transform: translateY(0);
}

.navbar {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-bg);
}

.navbar svg {
  width: 1.8rem;
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-left: var(--page-padding);
}

.hamb-btn {
  display: none;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: var(--page-padding);
}

.nav-list li {
  margin-left: clamp(1rem, 3vw, 2rem);
}

.nav-list li:hover {
  color: var(--clr-text-hc);
  transform: scale(1.025);
  transition: .1s ease-in-out;
}

.nav-list li:active {
  transform: scale(0.95);
  transition: .05s;
}

.nav-list li a {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: currentColor;
}

@media only screen and (max-width:40rem) {
  .navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  html {
    scroll-padding-top: 5rem;
  }

  .hamb-btn {
    display: block;
    cursor: pointer;
    padding: 1rem .125rem;
    margin-right: var(--page-padding);
    background: transparent;
    border: none;
  }
  
  .hamb-line {
    display: block;
    position: relative;
    background: currentColor;
    height: .2rem;
    width: 1.8rem;
  }
  
  .hamb-line::before,
  .hamb-line::after {
    display: block;
    position: absolute;
    content: '';
    background: currentColor;
    height: 100%;
    width: 100%;
    transition: all .1s ease-out;
  }
  
  .hamb-line::before {
    top: .5rem;
  }
  
  .hamb-line::after {
    top: -.5rem;
  }
  
  .data-open .hamb-line {
    background: transparent;
  }
  .data-open .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
  }
  .data-open .hamb-line::after {
    transform: rotate(45deg);
    top:0;
  }

  .data-open ~ .nav-list {
    max-height: 100%;
    opacity: 100%;
  }

  .data-open ~ .nav-list li a {
    display: block;
  }

  .nav-list {
    background-color: var(--clr-bg);
    display: block;
    position: fixed;
    top: 5rem;
    overflow: hidden;
    width: 100vw;
    max-height: 0;
    opacity: 0;
    transition: all .1s ease-out;
  }

  .nav-list li {
    margin-left: 0;
  }

  .nav-list li a {
    display: none;
    padding: 1rem var(--page-padding);
  }

  .nav-list li:hover {
    transform: scale(1);
  }

  .nav-list li a:hover {
    background-color: var(--clr-highlight);
  }
}

.site-section-header {
  text-align: center;
  padding: 1.5rem var(--page-padding);
  background-color: var(--clr-highlight);
}

.site-section-header h1 {
  margin-top: 0;
}

.site-section-header p {
  margin-bottom: 0;
}

.info-table {
  overflow-x: scroll;
  border: 1px solid var(--clr-table-border);
  max-width: fit-content;
}

.info-table table {
  white-space: nowrap;
  text-align: center;
  border-collapse: collapse;
}

.align-left {
  text-align: left;
}

.info-table th, 
.info-table td {
  border-right: 1px solid var(--clr-table-border);
}

.info-table th:last-child,
.info-table td:last-child {
  border-right: none;
}

.info-table th {
  padding: 0 .5rem;
  background-color: var(--clr-highlight);
}

.info-table td {
  padding: .3125rem .5rem;
  vertical-align: bottom;
  border-top: 1px solid var(--clr-table-border);
}

.no-col-borders td, 
.no-col-borders th {
  border-right: none;
}

.sticky-col {
  text-align: left;
  border-right: 2px solid var(--clr-table-border) !important;
}

@media only screen and (min-width:41rem) {
  .sticky-col {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    background-clip: padding-box;
    background-color: var(--clr-bg);
    border-right: none !important;
  }

  .sticky-col::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid var(--clr-table-border);
  }
}

.notes {
  white-space: normal;
  width: 32rem;
}

.untechable-note {
  white-space: normal;
  width: 12rem;
}

.tournament-hosts {
  margin: 0 var(--page-padding);
}

.tournament-host h2 {
  border-bottom: 1px solid currentColor;
}

.brackets-list {
  list-style: none;
  padding: 0;
}

.brackets-list li a {
  color: currentColor;
}

@media only screen and (min-width:40rem) {
  .tournament-hosts {
    display: flex;
    justify-content: space-evenly;
    gap: var(--page-padding);
  }
}
