:root {
  --clr-text: #202022;
  --clr-text-hc: black;
  --clr-bg: white;
  --clr-highlight: #ebebf0;
  --clr-gray-1: #cecee0;
  --clr-gray-2: #8b8b94;

  --clr-darken-img: #303033;
  --clr-text-on-img: #ededf2;

  --clr-training-bg: #16162e;
  --clr-training-border: #252244;
  --clr-training-border-hc: #3f3e6c;

  --clr-abxy-green: #009e4e;
  --clr-abxy-blue: #1f8ccc;
  --clr-abxy-yellow: #e8982c;
  --clr-abxy-red: #de2c2c;

  --clr-discord: #5865f2;
  --clr-discord-hc: #4b53cc;
  --clr-twitter: #1d9bf0;
  --clr-twitch: #8c45f7;
  --clr-youtube: #fd0000;

  --nav-height: 4rem;
  --page-padding: 1.5rem;
  --content-max-width: 56rem;
  --footer-margin: 2.5rem;
}
@media only screen and (max-width:48rem) {
  :root {
    --page-padding: 1rem;
  }
}
@media only screen and (min-width:64rem) {
  :root {
    --page-padding: 2rem;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 16px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

main {
  min-height: calc(100vh - var(--nav-height));
  min-height: calc(100svh - var(--nav-height));
  overflow: hidden;
  padding-bottom: var(--footer-margin);
}

p {
  line-height: 1.5;
}

footer a {
  color: currentColor;
}

footer svg {
  fill: currentColor;
}

article {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--clr-training-border-hc);
}

a:hover {
  color: var(--clr-training-border);
}

button {
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  color: var(--clr-text-hc);
  border-bottom: 1px solid var(--clr-highlight);
}

h3 {
  font-size: 1.4375rem;
  margin-bottom: 0.3125rem;
}

article h1 {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

article h2 {
  margin-top: 3rem;
  margin-bottom: 1.75rem;
}

article h3 {
  margin-top: 1.5rem;
}

article h4 {
  margin-bottom: 0.3125rem;
}

:not(:active):focus-visible {
  outline-offset: .125rem;
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset .5s ease-out !important;
  }

  :not(:active):focus-visible {
    transition-duration: .25s !important;
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}/*https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html*/

.center {
  display: flex;
  justify-content: center;
}

.centered {
  margin: auto;
}

.padded-content {
  padding: 0 var(--page-padding);
  max-width: calc(var(--content-max-width) + 2*var(--page-padding));
}

.heading-link {
  border: none;
  background: none;
  font-size: inherit;
  padding: 1px 0;
  margin: 0 .2em;
}

.heading-link:active {
  transform: scale(0.9);
}

@media (prefers-reduced-motion: no-preference) {
  .heading-link:active {
    transition: transform .1s ease-out;
  }
}

.heading-link svg {
  display: none;
  height: .8em;
  padding: 0 .125rem;
  fill: var(--clr-gray-1);
}

.heading:hover .heading-link svg,
.heading-link:focus-visible svg {
  display: flex;
}

.heading-link:hover svg {
  fill: var(--clr-gray-2);
}

.heading-link ~ .copied {
  display: none;
  position: absolute;
  white-space: nowrap;
  border-radius: .3125em;
  padding: .15em .4em;
  margin-left: .25em;
  font-size: .75em;
  font-weight: normal;
  color: var(--clr-bg);
  background-color: var(--clr-text);
}

.heading-link ~ .copied:before {
  content: '';
  position: absolute;
  width: .5em;
  height: .5em;
  transform: rotate(45deg);
  z-index: -1;
  right: 95%;
  bottom: 35%;
  background-color: var(--clr-text);
}

.data-copy-success svg {
  display: flex !important;
}

.data-copy-success .copied {
  display: inline-block;
}

.skip-nav {
  position: absolute;
  z-index: 2;
  transform: translateY(-150%);
  opacity: 0;
  color: var(--clr-text);
  background: var(--clr-highlight);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  margin: 1rem
}

.skip-nav:focus-visible {
  transform: translateY(0);
  opacity: 100;
}

@media (prefers-reduced-motion: no-preference) {
  .skip-nav:focus-visible {
    transition: transform .1s ease-in;
  }
}

.navbar {
  height: var(--nav-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-bg);
}

.navbar svg {
  width: 1.5em;
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-left: var(--page-padding);
}

.hamb-btn {
  display: none;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: var(--page-padding);
}

.nav-list li {
  margin-left: clamp(.875rem, 2vw, 1.5rem);
}

.nav-list li:hover {
  color: var(--clr-text-hc);
  transform: scale(1.025);
}

.nav-list li:active {
  transform: scale(0.95);
}

@media (prefers-reduced-motion: no-preference) {
  .nav-list li:hover {
    transition: .1s ease-in-out;
  }

  .nav-list li:active {
    transition: .05s;
  }
}

.nav-list li a {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: currentColor;
}

.nav-discord svg {
  display: none;
  fill: var(--clr-discord);
}

.nav-discord svg:hover {
  fill: var(--clr-discord-hc);
}

.nav-discord span {
  color: var(--clr-discord);
}

@media only screen and (min-width:calc(48rem + 1px)) {
  .nav-discord span {
    padding: .15em .5em;
    border-radius: .15em;
    background-color: var(--clr-discord);
    color: var(--clr-bg);
  }

  .nav-discord:hover:not(:active) span {
    background-color: var(--clr-discord-hc);
  }

  .nav-list li:last-child:hover:not(:active) {
    transform: scale(1);
  }
}

@media only screen and (min-width:calc(40rem + 1px)) and (max-width:48rem) {
  .nav-discord svg {
    display: flex;
  }
  .nav-discord span {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
  } /* .sr-only */
}

@media only screen and (max-width:40rem) {
  .data-disable-scroll-mobile {
    height: 100%;
    overflow: hidden;
  }

  .hamb-btn {
    display: block;
    cursor: pointer;
    padding: 1rem .125rem;
    margin-right: var(--page-padding);
    background: transparent;
    border: none;
  }
  
  .hamb-line {
    display: block;
    position: relative;
    background: currentColor;
    height: .2rem;
    width: 1.8rem;
  }
  
  .hamb-line::before,
  .hamb-line::after {
    display: block;
    position: absolute;
    content: '';
    background: currentColor;
    height: 100%;
    width: 100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    .hamb-line::before,
    .hamb-line::after {
      transition: all .1s ease-out;
    }
  }
  
  .hamb-line::before {
    top: .5rem;
  }
  
  .hamb-line::after {
    top: -.5rem;
  }
  
  [aria-expanded="true"] .hamb-line {
    background: transparent;
  }
  [aria-expanded="true"] .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
  }
  [aria-expanded="true"] .hamb-line::after {
    transform: rotate(45deg);
    top:0;
  }

  [aria-expanded="true"] ~ .nav-list {
    max-height: 100%;
    opacity: 100%;
  }

  [aria-expanded="true"] ~ .nav-list li a {
    display: block;
  }

  .nav-list {
    background-color: var(--clr-bg);
    display: block;
    position: fixed;
    top: var(--nav-height);
    padding-top: .25rem;
    overflow: hidden;
    width: 100vw;
    max-height: 0;
    opacity: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    .nav-list {
      transition: all .1s ease-out;
    }
  }

  .nav-list li {
    margin-left: 0;
  }

  .nav-list li a {
    display: none;
    padding: 1rem var(--page-padding);
  }

  .nav-list li:hover {
    transform: scale(1);
  }

  .nav-list li a:hover,
  .nav-list li a:focus-visible {
    background-color: var(--clr-highlight);
  }
}

.footer-main-container {
  padding: 2rem var(--page-padding);
  background-color: var(--clr-darken-img);
  background-image: url("img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 8% top;
  background-blend-mode: multiply;
}

.footer-main-container > img {
  display: none;
}

@media only screen and (min-width:64rem) {
  .footer-main-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer-main-container > img {
    display: revert;
    max-height: 13.5rem;
    border-radius: 1.25rem;
  }
}

.footer-main {
  display: grid;
  gap: 1rem;
  color: var(--clr-text-on-img);
}

.footer-main a:hover {
  color: white;
}

.footer-main ul {
  list-style: none;
  padding: 0;
}

@media only screen and (min-width: 72rem) {
  .footer-main {
    border-right: .125rem solid var(--clr-text-on-img);
  }
}

.footer-hero {
  display: flex;
  gap: 1rem;
  max-width: 32rem;
}

.footer-hero img {
  max-height: 12rem;
  border-radius: 1rem;
}

.footer-hero p:not(.footer-title) {
  margin-bottom: calc(1rem + .625rem);
}

@media only screen and (min-width:45rem) {
  .footer-main {
    grid-template-columns: 1fr 1fr;
  }

  .footer-hero {
    gap: 0;
    padding-right: 1rem;
  }

  .footer-hero > img {
    display: none;
  }
}

@media only screen and (max-width:33rem) {
  .footer-hero {
    gap: 0;
  }

  .footer-hero > img {
    display: none;
  }
}

.footer-socials {
  display: flex;
  gap: .5rem;
}

.footer-socials li:active {
  transform: scale(.95);
}

@media (prefers-reduced-motion: no-preference) {
  .footer-socials {
    transition: transform .1s ease-out;
  }
}

.footer-socials li a svg {
  display: flex;
  align-items: center;
  width: 2rem;
}

.footer-socials .twitter:hover svg {
  fill: var(--clr-twitter);
}

.footer-socials .twitch:hover svg {
  fill: var(--clr-twitch);
}

.footer-socials .youtube:hover svg {
  fill: var(--clr-youtube);
}

.footer-socials .join-discord {
  padding: .625rem 1rem;
  margin: 1rem 0;
  border-radius: .5rem;
  font-weight: 500;
  color: white;
  background-color: var(--clr-discord);
}

.footer-socials .join-discord:hover:not(:active) {
  background-color: var(--clr-discord-hc);
}

.footer-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--page-padding);
  margin-right: var(--page-padding);
}

.footer-title {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem var(--page-padding);
  background-color: var(--clr-text);
  color: var(--clr-highlight);
}

.footer-bottom > * {
  display: flex;
  align-items: center;
  gap: .3125rem;
}

.footer-bottom a:hover {
  color: var(--clr-text-on-img);
}

.footer-bottom svg {
  height: 1rem;
}

.site-section-header {
  text-align: center;
  padding: 1.5rem var(--page-padding);
  background-color: var(--clr-highlight);
}

.site-section-header h1 {
  margin: .5rem 0;
}

.library-select {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 .25rem;
  max-width: 40rem;
  margin: var(--page-padding);
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.library-select li a img {
  border: .25rem solid var(--clr-text-hc);
  border-bottom: 1px solid var(--clr-text-hc);
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .library-select li:active {
    transform: scale(.97);
    transition: transform .05s ease-out;
  }
}

.cols-sidebar-content {
  display: grid;
  grid-template-columns: calc(var(--page-padding) + 10.5rem) auto;
}

.sidebar {
  margin-left: var(--page-padding);
  padding-top: 1rem;
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: var(--clr-training-bg);
  border: 2px solid var(--clr-training-border);
  border-radius: 2px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.library-grid li div {
  aspect-ratio: 1 / 1;
  border: 2px solid var(--clr-training-border);
  display: flex;
  justify-content: center;
}

.library-grid li:not(:last-child):not(:nth-last-child(2)) a div:hover,
.library-grid li a:focus-visible div {
  border: 3px solid var(--clr-training-border-hc);
}

.library-grid li a div img {
  margin: auto;
}

.toc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - .25rem);
  height: calc(100svh - .25rem);
  position: sticky;
  top: 1rem;
  padding-bottom: var(--footer-margin);
}

#TableOfContents {
  max-height: fit-content;
  overflow: auto;
  margin-bottom: 1rem;
}

#TableOfContents ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#TableOfContents ul ul {
  padding-left: 1rem;
  border-left: 1px solid var(--clr-highlight);
}

#TableOfContents li a {
  display: block;
  line-height: 1.625;
  color: var(--clr-gray-2);
}

#TableOfContents li a:hover {
  color: var(--clr-training-bg);
}

#TableOfContents .visible > a {
  color: var(--clr-training-bg);
}

.to-top {
  display: inline-block;
  text-align: center;
  width: 4rem;
  padding-top: .3125rem;
  border-radius: 100rem;
  border: 3px solid var(--clr-gray-1);
}

.to-top svg {
  fill: var(--clr-gray-2);
  height: 1.25rem;
}

.to-top:hover svg {
  fill: var(--clr-training-border-hc);
  transition: all .1s ease-in;
}

@media only screen and (max-width:48rem) {
  .cols-sidebar-content {
    grid-template-columns: auto;
  }

  .sidebar {
    position: fixed;
    padding-top: 0;
  }

  .library-grid,
  #TableOfContents,
  .to-top {
    display: none;
  }
}

#jab,
#dash-attack,
#forward-tilt,
#up-tilt,
#down-tilt {
  color: var(--clr-abxy-green);
}

#neutral-air,
#forward-air,
#back-air,
#up-air,
#down-air {
  color: var(--clr-abxy-blue);
}

#forward-strong,
#up-strong,
#down-strong {
  color: var(--clr-abxy-yellow);
}

#neutral-special,
#side-special,
#up-special,
#down-special {
  color: var(--clr-abxy-red);
}

.library-table {
  overflow-x: auto;
  scrollbar-width: thin;
  border: 1px solid var(--clr-gray-1);
  max-width: fit-content;
  margin-bottom: .25rem;
}

.library-table table {
  white-space: nowrap;
  text-align: center;
  border-collapse: collapse;
}

.library-table tbody tr:hover td {
  background-color: var(--clr-highlight);
}

.align-left {
  text-align: left;
}

.library-table th, 
.library-table td {
  border-right: 1px solid var(--clr-gray-1);
}

.library-table th:last-child,
.library-table td:last-child {
  border-right: none;
}

.library-table th {
  padding: 0 .5rem;
}

.library-table td {
  padding: .3125rem .5rem;
  vertical-align: bottom;
  border-top: 1px solid var(--clr-gray-1);
}

.no-col-borders td, 
.no-col-borders th {
  border-right: none;
}

.sticky-col {
  text-align: left;
  border-right: 2px solid var(--clr-gray-1) !important;
}

@media only screen and (min-width:calc(40rem + 1px)) {
  .sticky-col {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    background-clip: padding-box;
    background-color: var(--clr-bg);
    border-right: none !important;
    padding-right: calc(.5rem + 2px) !important;
  }

  .sticky-col::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 2px solid var(--clr-gray-1);
  }
}

.notes {
  white-space: normal;
  width: 32rem;
}

.untechable-note {
  white-space: normal;
  width: 12rem;
}

.move-notes {
  margin: 0;
  padding: 0 .5rem;
  border-left: .125rem solid var(--clr-gray-1);
  font-style: italic;
}

.hitbox-image img {
  margin-top: .25rem;
  max-width: 100%;
  height: auto;
  max-height: 12.5rem;
}

.library-footer {
  margin: var(--page-padding);
  margin-bottom: 0;
  padding: 1rem;
  text-align: center;
  border: 3px solid var(--clr-gray-1);
  border-radius: 1rem;
}

.library-footer svg {
  height: .75rem;
  margin-right: .25rem;
  fill: var(--clr-text);
}

.library-footer a {
  white-space: nowrap;
}

.article-footer-divider {
  height: 1px;
  background: var(--clr-gray-1);
  margin: var(--footer-margin) var(--page-padding);
}

.tournament-hosts {
  max-width: var(--content-max-width);
}

@media only screen and (min-width:64rem) {
  .tournament-hosts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
    max-width: calc(2*43rem + 3vw);
  }
}

.brackets-list {
  list-style: none;
  padding: 0;
}

.brackets-list li {
  border-bottom: 1px solid var(--clr-highlight);
}

.brackets-list li:last-child {
  border-bottom: 1px solid var(--clr-bg);
}

.brackets-list h3 a {
  color: currentColor;
}

.brackets-list h3 a svg {
  height: .875em;
  padding: 0 .3125em;
  fill: var(--clr-gray-1);
}

.bracket-desc {
  margin-top: .5rem;
}

.day-time-freq {
  margin: 0;
  font-family: monospace;
  font-weight: 500;
}

.error-404-img {
  padding: var(--page-padding);
  padding-top: 1rem;
  padding-bottom: 0;
  max-width: 100%;
}
